In [2]:
import pyodbc
import pandas as pd

server = '192.168.101.219' 
database = 'DataforAnalysis' 
username = 'DATALYZER' 
password = 'NMB54321'  

# Establish the database connection
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)

# Select distinct Model and Line values
distinct_query = "SELECT DISTINCT Model, Line FROM [DataforAnalysis].[dbo].[EWMS];"
distinct_results = pd.read_sql(distinct_query, cnxn)

# Iterate through each distinct Model and Line combination
for index, row in distinct_results.iterrows():
    model = row['Model']
    line = row['Line']
    
    query = """
        SELECT 
            ewms.[Date] AS [Date],
            COUNT(ewms.[Barcode]) AS [countBarcode] 
        FROM [DataforAnalysis].[dbo].[EWMS] AS ewms
        INNER JOIN [TransportData].[dbo].[Master_matchings] AS mm
            ON ewms.Model = mm.Model
        WHERE 
            ewms.[Date] BETWEEN '2023-07-18' AND '2023-08-17' 
            AND ewms.[Model] = ? 
            AND ewms.[Line] = ? 
            AND mm.[createdAt] = (
                SELECT MAX([createdAt]) 
                FROM [TransportData].[dbo].[Master_matchings]
            )
        GROUP BY ewms.[Date];
    """
    
    datasets = pd.read_sql(query, cnxn, params=(model, line))
    
    # Process datasets as needed
    print("Model:", model)
    print("Line:", line)
    print(datasets.head())  # Print the first few rows
    
# Close the database connection
cnxn.close()

C:\Users\IT\AppData\Local\Temp\ipykernel_19260\2092486271.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  distinct_results = pd.read_sql(distinct_query, cnxn)
C:\Users\IT\AppData\Local\Temp\ipykernel_19260\2092486271.py:39: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  datasets = pd.read_sql(query, cnxn, params=(model, line))

Model: AVENGE
Line: 4-11
         Date  countBarcode
0  2023-07-18           425
1  2023-07-19           350
2  2023-07-20           575
3  2023-07-21           425
4  2023-07-22           175

C:\Users\IT\AppData\Local\Temp\ipykernel_19260\2092486271.py:39: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  datasets = pd.read_sql(query, cnxn, params=(model, line))

Model: CIMAR3
Line: 2-12
         Date  countBarcode
0  2023-07-25           400
1  2023-08-03          2625
2  2023-08-05           350
3  2023-08-07          5250
4  2023-08-11          4500

C:\Users\IT\AppData\Local\Temp\ipykernel_19260\2092486271.py:39: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  datasets = pd.read_sql(query, cnxn, params=(model, line))

Model: CIMAR5
Line: 2-4
         Date  countBarcode
0  2023-07-21          1044
1  2023-08-03          3654
2  2023-08-07          3016
3  2023-08-17           203

C:\Users\IT\AppData\Local\Temp\ipykernel_19260\2092486271.py:39: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  datasets = pd.read_sql(query, cnxn, params=(model, line))

In [18]:
datasets

Empty DataFrame
Columns: [Date, countBarcode]
Index: []