In [25]:
import pandas as pd
import numpy as np

In [26]:
datasets = pd.read_csv('../datasets/Master_static.csv')

In [27]:
from pandas import DataFrame

datasets ={
'Model':datasets['Model'],
'Line_No_WR':datasets['Line'],
'Machine_No':datasets['M/C'],
'Remark':datasets['MODEL_NO_MASTER'],
}
datasets = pd.DataFrame(datasets,columns=['Model','Line_No_WR','Machine_No','Remark'])
print("displaying the dataframe with data as record")
print(datasets)
print("-------------------------------Converting into csv file with a new a new file name ------------------------------------")
# datasets.to_csv("C:\\Users\\IT\\Desktop\\TEST1.csv")
# dff1=pd.read_csv("C:\\Users\\IT\\Desktop\\Date ML\\LSP3-10 Accuracy.csv")
# print(dff1)

displaying the dataframe with data as record
     Model Line_No_WR  Machine_No Remark
0   3SEBBF        NaN         NaN  NORUN
1   3SEFCC        NaN         NaN  NORUN
2   3SEFDB        NaN         NaN  NORUN
3   3SESIN        NaN         NaN  NORUN
4   3TOFCC        NaN         NaN  NORUN
5   AVENGE         B3  FB-004-021    NaN
6   BACALL        NaN         NaN  NORUN
7   CIMAR3        NaN         NaN  NORUN
8   CIMAR5         B5  FB-004-054    NaN
9   CIMBP3        C13  FB-004-062    NaN
10  CIMBP3        B13  FB-004-049    NaN
11  CIMBP4         C6  FB-004-074    NaN
12  CIMBP4         C7  FB-004-073    NaN
13  CIMBP5        NaN         NaN  NORUN
14  EAGRBP        NaN         NaN  NORUN
15  EVANBP        B14  FB-004-053    NaN
16  EVANBP        B15  FB-004-084    NaN
17  EVANBP        C14  FB-004-008    NaN
18  EVANBP        B16  FB-004-070    NaN
19  HEPSIS        NaN         NaN  NORUN
20  KEST12        B11  FB-004-010    NaN
21  KEST3D        NaN         NaN  NORUN
22  LONGSP        B17  FB-004-051    NaN
23  LONGSP        B20  FB-004-075    NaN
24  LONGSP        B21  FB-004-052    NaN
25  LUMSIN        NaN         NaN  NORUN
26  M11P5D         C9  FB-004-079    NaN
27  MARL10        B19  FB-004-007    NaN
28  OSPREY        NaN         NaN  NORUN
29  PHASIS        C15  FB-004-081    NaN
30  ROSE1L         C1  FB-004-030    NaN
31  ROSE1L         B6  FB-004-078    NaN
32  ROSE1L   MC SPARE  FB-004-064    NaN
33  ROSE2D         C2  FB-004-053    NaN
34  ROSE2D         C3  FB-004-065    NaN
35  ROSE2D   MC SPARE  FB-004-006    NaN
36  SKB1ST         C8  FB-004-058    NaN
37  SKB2ST         C8  FB-004-058    NaN
38  SKYBO3        B10  FB-004-063    NaN
39  SKYBO4         B2  FB-004-028    NaN
40  SUMMIT        B18  FB-004-072    NaN
41  TRESXL        NaN         NaN  NORUN
42  V11 1D        C12  FB-189-001    NaN
43  V11 1D        C10  FB-004-014    NaN
44  V11 2D         C4  FB-004-016    NaN
45  V11 2D         C5  FB-004-039    NaN
46  V11 4D        C16  FB-004-082    NaN
47  V15C1D        C11  FB-004-003    NaN
48  V15C2D         C4  FB-004-016    NaN
49  V15C2D         C5  FB-004-039    NaN
50  V15C4D        NaN         NaN  NORUN
51   V9 3D        NaN         NaN  NORUN
52   V9S3D        NaN         NaN  NORUN
53  VRVADE        NaN         NaN  NORUN
-------------------------------Converting into csv file with a new a new file name ------------------------------------

In [21]:
import pyodbc
import pandas as pd
# insert data from csv file into dataframe.
# working directory for csv file: type "pwd" in Azure Data Studio or Linux
# working directory in Windows c:\users\username
# Some other example server values are
# server = 'localhost\sqlexpress' # for a named instance
# server = 'myserver,port' # to specify an alternate port
server = '192.168.101.219' 
database = 'DataforAnalysis' 
username = 'DATALYZER' 
password = 'NMB54321'  
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()
# Insert Dataframe into SQL Server:
for index, row in datasets.iterrows():
     cursor.execute("INSERT INTO [DataforAnalysis].[dbo].[Master_MC] (Model,Line_No_WR,Machine_No,Remark) values ('"+str(row.Model)+"','"+str(row.Line_No_WR)+"','"+str(row.Machine_No)+"','"+str(row.Remark)+"')")

cnxn.commit()
cursor.close()

In [29]:
import pandas as pd

# Assuming you have a DataFrame named 'df'
# Checking for NaN values
nan_df = datasets.isna()
print(nan_df)

    Model  Line_No_WR  Machine_No  Remark
0   False        True        True   False
1   False        True        True   False
2   False        True        True   False
3   False        True        True   False
4   False        True        True   False
5   False       False       False    True
6   False        True        True   False
7   False        True        True   False
8   False       False       False    True
9   False       False       False    True
10  False       False       False    True
11  False       False       False    True
12  False       False       False    True
13  False        True        True   False
14  False        True        True   False
15  False       False       False    True
16  False       False       False    True
17  False       False       False    True
18  False       False       False    True
19  False        True        True   False
20  False       False       False    True
21  False        True        True   False
22  False       False       False    True
23  False       False       False    True
24  False       False       False    True
25  False        True        True   False
26  False       False       False    True
27  False       False       False    True
28  False        True        True   False
29  False       False       False    True
30  False       False       False    True
31  False       False       False    True
32  False       False       False    True
33  False       False       False    True
34  False       False       False    True
35  False       False       False    True
36  False       False       False    True
37  False       False       False    True
38  False       False       False    True
39  False       False       False    True
40  False       False       False    True
41  False        True        True   False
42  False       False       False    True
43  False       False       False    True
44  False       False       False    True
45  False       False       False    True
46  False       False       False    True
47  False       False       False    True
48  False       False       False    True
49  False       False       False    True
50  False        True        True   False
51  False        True        True   False
52  False        True        True   False
53  False        True        True   False