In [1]:
import pandas as pd
import numpy as np

In [2]:
# import datetime
# Date= datetime.datetime.now().date()-datetime.timedelta(2)
# Line='1-4'
# Model='LONGSP'
# Startdate=datetime.datetime.now().date()-datetime.timedelta(2)-datetime.timedelta(150)
# finishDate=datetime.datetime.now().date()-datetime.timedelta(2)-datetime.timedelta(1)

In [3]:
import datetime
Date= datetime.datetime.now().date()
Line='3-14'
Model='LONGSP'
Startdate=datetime.datetime.now().date()-datetime.timedelta(150)
finishDate=datetime.datetime.now().date()-datetime.timedelta(1)

In [4]:
import pyodbc
import pandas as pd
# Some other example server values are
# server = 'localhost\sqlexpress' # for a named instance
# server = 'myserver,port' # to specify an alternate port
server = '192.168.101.219' 
database = 'DataforAnalysis' 
username = 'DATALYZER' 
password = 'NMB54321'  
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()
# select 26 rows from SQL table to insert in dataframe.
query = "SELECT [Projection1],[Datum_probe],[Set_Dim_A],[Set_Dim_B],[Set_Dim_C],[Diecast_Pivot_2]FROM [Diecast].[dbo].[Pivot] join [TransportData].[dbo].[Matching_Auto_Unit1] on [Pivot].Diecast_S_N=[Matching_Auto_Unit1].Barcode_Base join [DataforAnalysis].[dbo].[DataML] on [DataML].Barcode_motor=[Matching_Auto_Unit1].Barcode_Motor   WHERE [DataML].[Model] = '"+Model+"' AND [DataML].[Line] = '"+Line+"' AND [DataML].[Date] BETWEEN '"+str(Startdate)+"' and '"+str(finishDate)+"'and ([Projection1] is not null and [Datum_probe] is not null  and [Set_Dim_A] is not null and [Set_Dim_B] is not null and [Set_Dim_C] is not null and [Diecast_Pivot_2] is not null)and [Projection1] !='0' and [Projection1]>0 and [Projection1] < 1;"
datasets = pd.read_sql(query, cnxn)
print(datasets.head(100000))

C:\Users\IT\AppData\Local\Temp\ipykernel_19424\3661309652.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  datasets = pd.read_sql(query, cnxn)

       Projection1  Datum_probe  Set_Dim_A  Set_Dim_B  Set_Dim_C  \
0           0.4863   440.549988     0.5027     0.5272     0.5096
1           0.5009   330.320007     0.5027     0.5141     0.5083
2           0.5340   344.359985     0.5049     0.5119     0.5210
3           0.5255   332.279999     0.5254     0.5281     0.5270
4           0.5157   327.329987     0.5233     0.5380     0.5284
...            ...          ...        ...        ...        ...
99995       0.5069   338.989990     0.5198     0.5151     0.5118
99996       0.5024   339.170013     0.5115     0.5216     0.5133
99997       0.5325   344.600006     0.5012     0.5089     0.5186
99998       0.4963   441.649994     0.5096     0.5219     0.5109
99999       0.5306   441.959991     0.5018     0.5129     0.5201

       Diecast_Pivot_2
0               9.3699
1               9.3754
2               9.3835
3               9.3876
4               9.3804
...                ...
99995           9.3835
99996           9.3830
99997           9.3795
99998           9.3815
99999           9.3785

[100000 rows x 6 columns]

In [5]:
query

"SELECT [Projection1],[Datum_probe],[Set_Dim_A],[Set_Dim_B],[Set_Dim_C],[Diecast_Pivot_2]FROM [Diecast].[dbo].[Pivot] join [TransportData].[dbo].[Matching_Auto_Unit1] on [Pivot].Diecast_S_N=[Matching_Auto_Unit1].Barcode_Base join [DataforAnalysis].[dbo].[DataML] on [DataML].Barcode_motor=[Matching_Auto_Unit1].Barcode_Motor   WHERE [DataML].[Model] = 'LONGSP' AND [DataML].[Line] = '3-14' AND [DataML].[Date] BETWEEN '2023-01-02' and '2023-05-31'and ([Projection1] is not null and [Datum_probe] is not null  and [Set_Dim_A] is not null and [Set_Dim_B] is not null and [Set_Dim_C] is not null and [Diecast_Pivot_2] is not null)and [Projection1] !='0' and [Projection1]>0 and [Projection1] < 1;"

In [6]:
import pyodbc
import pandas as pd
# Some other example server values are
# server = 'localhost\sqlexpress' # for a named instance
# server = 'myserver,port' # to specify an alternate port
server = '192.168.101.219' 
database = 'DataforAnalysis' 
username = 'DATALYZER' 
password = 'NMB54321'  
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()
# select 26 rows from SQL table to insert in dataframe.
query = "SELECT [Bin],[Bin2],[Datum_probe_Min],[Datum_probe_Max],[Max_force_Min],[Max_force_Max],[Set_Dim_A_Min],[Set_Dim_A_Max],[Set_Dim_B_Min],[Set_Dim_B_Max],[Set_Dim_C_Min],[Set_Dim_C_Max],[Pivot_Height_Min],[Pivot_Height_Max],[Pivot_2_Min],[Pivot_2_Max],[KPOV_Min],[KPOV_Max]FROM [DataforAnalysis].[dbo].[Reference];"
spec = pd.read_sql(query, cnxn)
print(spec.head(100000))

           Bin        Bin2 Datum_probe_Min Datum_probe_Max Max_force_Min  \
0   A           -4               -infinity          124.99     -infinity
1   B           -3                     125          249.99           300
2   C           -2                     250          374.99        833.33
3   D           -1                     375          499.99       1366.67
4   E           1                      500          624.99          1900
5   F           2                      625          749.99       2433.33
6   G           3                      750             875       2966.67
7   H           4                   875.01       +infinity       3500.01
8   Pass        Pass                                  None          None
9   Fail        Fail                                  None          None
10  Fail        Fail                  None            None          None

   Max_force_Max Set_Dim_A_Min Set_Dim_A_Max Set_Dim_B_Min Set_Dim_B_Max  \
0         299.99     -infinity        0.4774     -infinity        0.4774
1         833.32        0.4775        0.4901        0.4775        0.4901
2        1366.66        0.4902        0.5028        0.4902        0.5028
3        1899.99        0.5029        0.5155        0.5029        0.5155
4        2433.32        0.5156        0.5282        0.5156        0.5282
5        2966.66        0.5283        0.5409        0.5283        0.5409
6           3500         0.541        0.5537         0.541        0.5537
7      +infinity        0.5538     +infinity        0.5538     +infinity
8           None          None          None          None          None
9           None          None          None          None          None
10          None          None          None          None          None

   Set_Dim_C_Min Set_Dim_C_Max Pivot_Height_Min Pivot_Height_Max Pivot_2_Min  \
0      -infinity        0.4774        -infinity           -9.403   -infinity
1         0.4775        0.4901          -9.4031          -9.3945      9.3524
2         0.4902        0.5028          -9.3946           -9.386      9.3607
3         0.5029        0.5155          -9.3861          -9.3776      9.3692
4         0.5156        0.5282          -9.3777          -9.3691      9.3777
5         0.5283        0.5409          -9.3692          -9.3606      9.3861
6          0.541        0.5537          -9.3607          -9.3523      9.3946
7         0.5538     +infinity          -9.3524        +infinity      9.4031
8           None          None             None                         None
9           None          None             None                         None
10          None          None             None                         None

   Pivot_2_Max   KPOV_Min   KPOV_Max
0       9.3523       None       None
1       9.3606       None       None
2       9.3691       None       None
3       9.3776       None       None
4        9.386       None       None
5       9.3945       None       None
6        9.403       None       None
7    +infinity       None       None
8         None     0.4648     0.5664
9         None  -infinity     0.4647
10        None     0.5665  +infinity

C:\Users\IT\AppData\Local\Temp\ipykernel_19424\445518909.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  spec = pd.read_sql(query, cnxn)

In [7]:
from pandas import DataFrame

data1 ={
'Date':Date,
'betweenDate':str(Startdate)+' - '+str(finishDate),
'Model':Model,
'Line':Line,

'describe1':['count','mean','std','min','25%','50%','75%','max'
],
'Datum_probe':datasets.describe()['Datum_probe'],

'Set_Dim_A':datasets.describe()['Set_Dim_A'],
'Set_Dim_B':datasets.describe()['Set_Dim_B'],
'Set_Dim_C':datasets.describe()['Set_Dim_C'],
'Diecast_Pivot_2':datasets.describe()['Diecast_Pivot_2'],
'Projection':datasets.describe()['Projection1'],
}
dff1 = pd.DataFrame(data1,columns=['Date','betweenDate','Model','Line','describe1',str('Datum_probe'),str('Set_Dim_A'),str('Set_Dim_B'),str('Set_Dim_C'),str('Diecast_Pivot_2'),str('Projection')])
print("displaying the dataframe with data as record")
print(dff1)
print("-------------------------------Converting into csv file with a new a new file name ------------------------------------")
dff1.to_csv("C:\\Users\\IT\\Desktop\\LSP1-4.csv")
dff1=pd.read_csv("C:\\Users\\IT\\Desktop\\LSP1-4.csv")
print(dff1)

displaying the dataframe with data as record
             Date              betweenDate   Model  Line describe1  \
count  2023-06-01  2023-01-02 - 2023-05-31  LONGSP  3-14     count
mean   2023-06-01  2023-01-02 - 2023-05-31  LONGSP  3-14      mean
std    2023-06-01  2023-01-02 - 2023-05-31  LONGSP  3-14       std
min    2023-06-01  2023-01-02 - 2023-05-31  LONGSP  3-14       min
25%    2023-06-01  2023-01-02 - 2023-05-31  LONGSP  3-14       25%
50%    2023-06-01  2023-01-02 - 2023-05-31  LONGSP  3-14       50%
75%    2023-06-01  2023-01-02 - 2023-05-31  LONGSP  3-14       75%
max    2023-06-01  2023-01-02 - 2023-05-31  LONGSP  3-14       max

         Datum_probe      Set_Dim_A      Set_Dim_B      Set_Dim_C  \
count  259759.000000  259759.000000  259759.000000  259759.000000
mean      377.973706       0.513563       0.518870       0.518444
std        68.384507       0.007775       0.009136       0.008674
min       153.559998       0.304200       0.280600       0.311100
25%       329.529999       0.508800       0.513100       0.512900
50%       341.309998       0.513900       0.518800       0.518400
75%       439.760010       0.518700       0.524600       0.524000
max       717.469971       0.610700       1.144500       0.971500

       Diecast_Pivot_2     Projection
count    259759.000000  259759.000000
mean          9.378892       0.518098
std           0.004465       0.018271
min           9.363500       0.255800
25%           9.375700       0.506300
50%           9.379000       0.518400
75%           9.382100       0.530400
max           9.394500       0.964100
-------------------------------Converting into csv file with a new a new file name ------------------------------------
  Unnamed: 0        Date              betweenDate   Model  Line describe1  \
0      count  2023-06-01  2023-01-02 - 2023-05-31  LONGSP  3-14     count
1       mean  2023-06-01  2023-01-02 - 2023-05-31  LONGSP  3-14      mean
2        std  2023-06-01  2023-01-02 - 2023-05-31  LONGSP  3-14       std
3        min  2023-06-01  2023-01-02 - 2023-05-31  LONGSP  3-14       min
4        25%  2023-06-01  2023-01-02 - 2023-05-31  LONGSP  3-14       25%
5        50%  2023-06-01  2023-01-02 - 2023-05-31  LONGSP  3-14       50%
6        75%  2023-06-01  2023-01-02 - 2023-05-31  LONGSP  3-14       75%
7        max  2023-06-01  2023-01-02 - 2023-05-31  LONGSP  3-14       max

     Datum_probe      Set_Dim_A      Set_Dim_B      Set_Dim_C  \
0  259759.000000  259759.000000  259759.000000  259759.000000
1     377.973706       0.513563       0.518870       0.518444
2      68.384507       0.007775       0.009136       0.008674
3     153.559998       0.304200       0.280600       0.311100
4     329.529999       0.508800       0.513100       0.512900
5     341.309998       0.513900       0.518800       0.518400
6     439.760010       0.518700       0.524600       0.524000
7     717.469971       0.610700       1.144500       0.971500

   Diecast_Pivot_2     Projection
0    259759.000000  259759.000000
1         9.378892       0.518098
2         0.004465       0.018271
3         9.363500       0.255800
4         9.375700       0.506300
5         9.379000       0.518400
6         9.382100       0.530400
7         9.394500       0.964100

In [8]:
# import pyodbc
# import pandas as pd
# # insert data from csv file into dataframe.
# # working directory for csv file: type "pwd" in Azure Data Studio or Linux
# # working directory in Windows c:\users\username
# # Some other example server values are
# # server = 'localhost\sqlexpress' # for a named instance
# # server = 'myserver,port' # to specify an alternate port
# server = '192.168.101.219' 
# database = 'DataforAnalysis' 
# username = 'DATALYZER' 
# password = 'NMB54321'  
# cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
# cursor = cnxn.cursor()
# # Insert Dataframe into SQL Server:
# for index, row in dff1.iterrows():
#      cursor.execute("INSERT INTO [DataforAnalysis].[dbo].[DescribeML](Date,betweenDate,Model,Line,describe1,Datum_probe,Max_force,Set_Dim_A,Set_Dim_B,Set_Dim_C,Diecast_Pivot_2,Projection) values ('"+str(row.Date)+"','"+row.betweenDate+"','"+row.Model+"','"+row.Line+"','"+str(row.describe1)+"','"+str(row.Datum_probe)+"','"+str(row.Max_force)+"','"+str(row.Set_Dim_A)+"','"+str(row.Set_Dim_B)+"','"+str(row.Set_Dim_C)+"','"+str(row.Diecast_Pivot_2)+"','"+str(row.Projection)+"')")

# cnxn.commit()
# cursor.close()

In [9]:
datasets['Projection1']=pd.cut(datasets['Projection1'],bins=[-np.inf,spec['KPOV_Max'][9],spec['KPOV_Max'][8],np.inf],labels=['fail_low','pass','fail_high'])
datasets['Projection1'].replace('fail_low','fail',inplace=True)
datasets['Projection1'].replace('fail_high','fail',inplace=True)

In [10]:
from collections import Counter
print(Counter(datasets['Projection1']))

Counter({'pass': 257927, 'fail': 1832})

In [11]:
from imblearn.over_sampling import SMOTE
# over_sampling คือการทำค่า fail 1284 ให้เท่ากับค่า pass 271k เพื่อให้ data ในการ train เพิ่มมากขึ้น
from collections import Counter

k = 3
X = datasets.loc[:, datasets.columns != 'Projection1']
y = datasets.Projection1

# sampling_strategy=0.1 oversampling 10%
sm = SMOTE(sampling_strategy='minority', k_neighbors=k, random_state=100)
X_res, y_res = sm.fit_resample(X, y)

datasets = pd.concat([pd.DataFrame(X_res), pd.DataFrame(y_res)], axis=1)

In [12]:
from collections import Counter
print(Counter(datasets['Projection1']))

Counter({'pass': 257927, 'fail': 257927})

In [13]:
Datum_3LCL = spec['Datum_probe_Max'][0]
Datum_2LCL = spec['Datum_probe_Max'][1]
Datum_LCL = spec['Datum_probe_Max'][2]
Datum_CL = spec['Datum_probe_Max'][3]
Datum_UCL = spec['Datum_probe_Max'][4]
Datum_2UCL = spec['Datum_probe_Max'][5]
Datum_3UCL = spec['Datum_probe_Max'][6]

# Max_3LCL = spec['Max_force_Max'][0]
# Max_2LCL = spec['Max_force_Max'][1]
# Max_LCL = spec['Max_force_Max'][2]
# Max_CL = spec['Max_force_Max'][3]
# Max_UCL = spec['Max_force_Max'][4]
# Max_2UCL = spec['Max_force_Max'][5]
# Max_3UCL = spec['Max_force_Max'][6]

Set_Dim_A_3LCL = spec['Set_Dim_A_Max'][0]
Set_Dim_A_2LCL = spec['Set_Dim_A_Max'][1]
Set_Dim_A_LCL = spec['Set_Dim_A_Max'][2]
Set_Dim_A_CL = spec['Set_Dim_A_Max'][3]
Set_Dim_A_UCL = spec['Set_Dim_A_Max'][4]
Set_Dim_A_2UCL = spec['Set_Dim_A_Max'][5]
Set_Dim_A_3UCL = spec['Set_Dim_A_Max'][6]


Set_Dim_B_3LCL = spec['Set_Dim_B_Max'][0]
Set_Dim_B_2LCL = spec['Set_Dim_B_Max'][1]
Set_Dim_B_LCL = spec['Set_Dim_B_Max'][2]
Set_Dim_B_CL = spec['Set_Dim_B_Max'][3]
Set_Dim_B_UCL = spec['Set_Dim_B_Max'][4]
Set_Dim_B_2UCL = spec['Set_Dim_B_Max'][5]
Set_Dim_B_3UCL = spec['Set_Dim_B_Max'][6]

Set_Dim_C_3LCL = spec['Set_Dim_C_Max'][0]
Set_Dim_C_2LCL = spec['Set_Dim_C_Max'][1]
Set_Dim_C_LCL = spec['Set_Dim_C_Max'][2]
Set_Dim_C_CL = spec['Set_Dim_C_Max'][3]
Set_Dim_C_UCL = spec['Set_Dim_C_Max'][4]
Set_Dim_C_2UCL = spec['Set_Dim_C_Max'][5]
Set_Dim_C_3UCL = spec['Set_Dim_C_Max'][6]


Diecast_Pivot_2_3LCL = spec['Pivot_2_Max'][0]
Diecast_Pivot_2_2LCL = spec['Pivot_2_Max'][1]
Diecast_Pivot_2_LCL = spec['Pivot_2_Max'][2]
Diecast_Pivot_2_CL = spec['Pivot_2_Max'][3]
Diecast_Pivot_2_UCL = spec['Pivot_2_Max'][4]
Diecast_Pivot_2_2UCL = spec['Pivot_2_Max'][5]
Diecast_Pivot_2_3UCL = spec['Pivot_2_Max'][6]


datasets['Datum_probe']=pd.cut(datasets['Datum_probe'],bins=[-np.inf, float(Datum_3LCL), float(Datum_2LCL), float(Datum_LCL), float(Datum_CL), float(Datum_UCL), float(Datum_2UCL), float(Datum_3UCL), np.inf],labels=[-4,-3,-2,-1,1,2,3,4])

# datasets['Max_force']=pd.cut(datasets['Max_force'],bins=[-np.inf, float(Max_3LCL), float(Max_2LCL), float(Max_LCL), float(Max_CL),float(Max_UCL),float(Max_2UCL),float(Max_3UCL), np.inf],labels=[-4,-3,-2,-1,1,2,3,4])

datasets['Set_Dim_A']=pd.cut(datasets['Set_Dim_A'],bins=[-np.inf, float(Set_Dim_A_3LCL), float(Set_Dim_A_2LCL), float(Set_Dim_A_LCL),float(Set_Dim_A_CL),float(Set_Dim_A_UCL),float(Set_Dim_A_2UCL),float(Set_Dim_A_3UCL),np.inf],labels=[-4,-3,-2,-1,1,2,3,4])

datasets['Set_Dim_B']=pd.cut(datasets['Set_Dim_B'],bins=[-np.inf, float(Set_Dim_B_3LCL), float(Set_Dim_B_2LCL), float(Set_Dim_B_LCL), float(Set_Dim_B_CL), Set_Dim_B_UCL, Set_Dim_B_2UCL, Set_Dim_B_3UCL, np.inf],labels=[-4,-3,-2,-1,1,2,3,4])

datasets['Set_Dim_C']=pd.cut(datasets['Set_Dim_C'],bins=[-np.inf, float(Set_Dim_C_3LCL), float(Set_Dim_C_2LCL), float(Set_Dim_C_LCL), float(Set_Dim_C_CL), float(Set_Dim_C_UCL),float(Set_Dim_C_2UCL),float(Set_Dim_C_3UCL), np.inf],labels=[-4,-3,-2,-1,1,2,3,4])

datasets['Diecast_Pivot_2']=pd.cut(datasets['Diecast_Pivot_2'],bins=[-np.inf, float(Diecast_Pivot_2_3LCL), float(Diecast_Pivot_2_2LCL),float(Diecast_Pivot_2_LCL),float(Diecast_Pivot_2_CL),float(Diecast_Pivot_2_UCL),float(Diecast_Pivot_2_2UCL),float(Diecast_Pivot_2_3UCL),np.inf],labels=[-4,-3,-2,-1,1,2,3,4])

In [14]:
datasets

       Datum_probe Set_Dim_A Set_Dim_B Set_Dim_C Diecast_Pivot_2 Projection1
0               -1        -2         1        -1              -1        pass
1               -2        -2        -1        -1              -1        pass
2               -2        -1        -1         1               1        pass
3               -2         1         1         1               2        pass
4               -2         1         2         2               1        pass
...            ...       ...       ...       ...             ...         ...
515849          -2         1         1        -2              -1        fail
515850           1        -1         1         2               1        fail
515851          -2         1         1        -2              -1        fail
515852          -1        -1        -2        -2               1        fail
515853          -1         1        -1         2               1        fail

[515854 rows x 6 columns]

In [15]:
from pyarc import CBA, TransactionDB
from sklearn.model_selection import train_test_split 
from sklearn.metrics import classification_report

train, test = train_test_split(datasets, test_size=0.1)

txns_train = TransactionDB.from_DataFrame(train)
txns_test = TransactionDB.from_DataFrame(test)

cba = CBA (support = 0.08, confidence = 0.8, algorithm ='m1')
cba.fit(txns_train)

y_pred = cba.predict(txns_test)
y_test = test['Projection1']
print ((classification_report(y_test,y_pred)))

              precision    recall  f1-score   support

        fail       0.95      0.46      0.62     25728
        pass       0.64      0.97      0.78     25858

    accuracy                           0.72     51586
   macro avg       0.80      0.72      0.70     51586
weighted avg       0.80      0.72      0.70     51586

In [16]:
cba.clf.rules

[CAR {Set_Dim_B=1,Set_Dim_C=3} => {Projection1=fail} sup: 0.08 conf: 1.00 len: 3, id: 0,
 CAR {Set_Dim_C=3} => {Projection1=fail} sup: 0.10 conf: 0.98 len: 2, id: 1,
 CAR {Datum_probe=-2,Set_Dim_C=1,Set_Dim_B=1} => {Projection1=pass} sup: 0.10 conf: 0.96 len: 4, id: 7,
 CAR {Datum_probe=-2,Set_Dim_C=1} => {Projection1=pass} sup: 0.18 conf: 0.96 len: 3, id: 13,
 CAR {Set_Dim_C=1,Set_Dim_A=1} => {Projection1=pass} sup: 0.11 conf: 0.96 len: 3, id: 6,
 CAR {Set_Dim_C=1,Set_Dim_B=1} => {Projection1=pass} sup: 0.15 conf: 0.95 len: 3, id: 9,
 CAR {Set_Dim_C=1,Diecast_Pivot_2=-1} => {Projection1=pass} sup: 0.09 conf: 0.95 len: 3, id: 5,
 CAR {Set_Dim_C=1} => {Projection1=pass} sup: 0.26 conf: 0.94 len: 2, id: 15,
 CAR {Diecast_Pivot_2=1,Set_Dim_C=-2} => {Projection1=fail} sup: 0.09 conf: 0.93 len: 3, id: 3,
 CAR {Datum_probe=-2,Set_Dim_C=-2} => {Projection1=fail} sup: 0.13 conf: 0.93 len: 3, id: 2]

In [17]:
datasp =(classification_report(y_test,y_pred))

In [18]:
from pandas import DataFrame

data1 ={
'Date':str(Date),
'Line':Line,
'Model':Model,
'Details':[(datasp[63:67]),(datasp[117:121]),(datasp[168:176]),(datasp[221:230]),(datasp[272:284])
],
'Procision':[datasp[74:78],datasp[128:132],(''),datasp[128:132],datasp[237:241]
],
'recall':[datasp[84:88],datasp[138:142],(''),datasp[247:251],datasp[301:305]
],
'f1_score':[datasp[94:98],datasp[148:152],(datasp[203:207]),datasp[257:261],datasp[311:315]
],

'support':[datasp[103:108],datasp[157:162],datasp[209:217],datasp[265:271],datasp[319:325]
],
}
dff = pd.DataFrame(data1,columns=['Date','Line','Model','Details','Procision','recall','f1_score','support'])
print("displaying the dataframe with data as record")
print(dff)
print("-------------------------------Converting into csv file with a new a new file name ------------------------------------")
# df.to_csv("C:\\Users\\IT\\Desktop\\Date ML\\Accuracy ML\\LSP"+Line+" Accuracy.csv")
# df=pd.read_csv("C:\\Users\\IT\\Desktop\\Date ML\\Accuracy ML\\LSP"+Line+" Accuracy.csv")
# print(df)

displaying the dataframe with data as record
         Date  Line   Model       Details Procision recall f1_score   support
0  2023-06-01  3-14  LONGSP          fail      0.95   0.46     0.62     25728
1  2023-06-01  3-14  LONGSP          pass      0.64   0.97     0.78     25858
2  2023-06-01  3-14  LONGSP      accuracy                      0.72     51586
3  2023-06-01  3-14  LONGSP     macro avg      0.64   0.72     0.70     51586
4  2023-06-01  3-14  LONGSP  weighted avg      0.80   0.72     0.70     51586
-------------------------------Converting into csv file with a new a new file name ------------------------------------

In [19]:
# import pyodbc
# import pandas as pd
# cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
# cursor = cnxn.cursor()
# # Insert Dataframe into SQL Server:
# for index, row in dff.iterrows():

#      cursor.execute("INSERT INTO [DataforAnalysis].[dbo].[accuracyDataML_Test] (Date,Line,Model,Details,Procision,recall,f1_score,support) values ('"+row.Date+"','"+row.Line+"','"+row.Model+"','"+row.Details+"','"+row.Procision+"','"+row.recall+"','"+row.f1_score+"','"+row.support+"')")
#      # ,(row.Date,row.betweenDate,row.Model,)Procision
#                     # ('"+row.Date+"','"+row.betweenDate+"','"+row.Model+"','"+row.Line+"','"+row.Datum_probe+"','"+ a +"','"+row.Set_Dim_A+"','"+row.Set_Dim_B+"','"+row.Set_Dim_C+"','"+row.Diecast_Pivot_2+"','"+row.Projection+"','"+row.Support+"','"+row.Confidence+"')")
# cnxn.commit()
# cursor.close()

In [20]:
cba1 =cba.clf.rules

In [21]:
aa =" "
dd=[]
for  x in range(len(cba1)):
    aa += str (cba1[x]).replace("{","").replace("}","").replace("Projection1=","")
    dd=aa.split("CAR")
print(dd)

[' ', ' Set_Dim_B=1,Set_Dim_C=3 => fail sup: 0.08 conf: 1.00 len: 3, id: 0', ' Set_Dim_C=3 => fail sup: 0.10 conf: 0.98 len: 2, id: 1', ' Datum_probe=-2,Set_Dim_C=1,Set_Dim_B=1 => pass sup: 0.10 conf: 0.96 len: 4, id: 7', ' Datum_probe=-2,Set_Dim_C=1 => pass sup: 0.18 conf: 0.96 len: 3, id: 13', ' Set_Dim_C=1,Set_Dim_A=1 => pass sup: 0.11 conf: 0.96 len: 3, id: 6', ' Set_Dim_C=1,Set_Dim_B=1 => pass sup: 0.15 conf: 0.95 len: 3, id: 9', ' Set_Dim_C=1,Diecast_Pivot_2=-1 => pass sup: 0.09 conf: 0.95 len: 3, id: 5', ' Set_Dim_C=1 => pass sup: 0.26 conf: 0.94 len: 2, id: 15', ' Diecast_Pivot_2=1,Set_Dim_C=-2 => fail sup: 0.09 conf: 0.93 len: 3, id: 3', ' Datum_probe=-2,Set_Dim_C=-2 => fail sup: 0.13 conf: 0.93 len: 3, id: 2']

In [22]:
fid=[]
fid01=[]
Sup=[]
Conf=[]
for op in range(len(dd)):
    dat=(dd[op].split())
    fid+=(dat[0:1])
    fid01+=dat[2:3]
    Sup+=dat[4:5]
    Conf+=dat[6:7]

In [23]:
my_array=[]
ok =[]
i=0
while i < len(fid):
    my_array+= fid[i].split()
    ok +=[my_array[i]+','+'Null=Null'+','+'Null=Null'+','+'Null=Null'+','+'Null=Null']
    i=i+1

In [24]:
Sp=[]
KPIV1=[]
KPIV2=[]
KPIV3=[]
KPIV4=[]
for i in ok:
    Sp1=i.split(',')
    KPIV1+=[Sp1[0]]
    KPIV2+=[Sp1[1]]
    KPIV3+=[Sp1[2]]
    KPIV4+=[Sp1[3]]

KPIVOK=[KPIV1],[KPIV2],[KPIV3],[KPIV4]

In [25]:
dataok=[]
for i in range(len(KPIVOK)):
    dataok+=(KPIVOK[i])

In [26]:
sp1=[]
for i in (dataok[0]):
    sp1+=[(i.split('='))]

sp2=[]
for i in (dataok[1]):
    sp2+=[(i.split('='))]

sp3=[]
for i in (dataok[2]):
    sp3+=[(i.split('='))]

sp4=[]
for i in (dataok[3]):
    sp4+=[(i.split('='))]

In [27]:
Cl1=[]
for i in sp1:
    Cl1+=([i[0]])

Cl2=[]
for i in sp1:
    Cl2+=([i[1]])

Cl3=[]
for i in sp2:
    Cl3+=([i[0]])

Cl4=[]
for i in sp2:
    Cl4+=([i[1]])

Cl5=[]
for i in sp3:
    Cl5+=([i[0]])

Cl6=[]
for i in sp3:
    Cl6+=([i[1]])

In [28]:
for i in Cl5:
    CL05=i.replace("Null", "-")
    print(CL05)

-
-
Set_Dim_B
-
-
-
-
-
-
-

In [29]:
indexok=[]
for i in range(len(my_array)):
    indexok+=([i+1])

In [30]:
import pandas as pd
indexok=[]
for i in range(len(my_array)):
    indexok+=([i+1])
data ={
'Date':Date,
'betweenDate':str(Startdate)+' - '+str(finishDate),
'Model':Model,
'Line':Line,
'Rangeindex':indexok,
'Cl1':Cl1,
'Cl2':Cl2,
'Cl3':Cl3,
'Cl4':Cl4,
'Cl5':Cl5,
'Cl6':Cl6,
'Projection':fid01,
'Support':Sup,
'Confidence':Conf,}
df = pd.DataFrame(data)

df.loc[df['Cl1'] == 'Datum_probe', 'Datum_probe'] = df['Cl2']
df.loc[df['Cl3'] == 'Datum_probe', 'Datum_probe'] = df['Cl4']
df.loc[df['Cl5'] == 'Datum_probe', 'Datum_probe'] = df['Cl6']

df.loc[df['Cl1'] == 'Max_force', 'Max_force'] = df['Cl2']
df.loc[df['Cl3'] == 'Max_force', 'Max_force'] = df['Cl4']
df.loc[df['Cl5'] == 'Max_force', 'Max_force'] = df['Cl6']

df.loc[df['Cl1'] == 'Set_Dim_A', 'Set_Dim_A'] = df['Cl2']
df.loc[df['Cl3'] == 'Set_Dim_A', 'Set_Dim_A'] = df['Cl4']
df.loc[df['Cl5'] == 'Set_Dim_A', 'Set_Dim_A'] = df['Cl6']

df.loc[df['Cl1'] == 'Set_Dim_B', 'Set_Dim_B'] = df['Cl2']
df.loc[df['Cl3'] == 'Set_Dim_B', 'Set_Dim_B'] = df['Cl4']
df.loc[df['Cl5'] == 'Set_Dim_B', 'Set_Dim_B'] = df['Cl6']

df.loc[df['Cl1'] == 'Set_Dim_C', 'Set_Dim_C'] = df['Cl2']
df.loc[df['Cl3'] == 'Set_Dim_C', 'Set_Dim_C'] = df['Cl4']
df.loc[df['Cl5'] == 'Set_Dim_C', 'Set_Dim_C'] = df['Cl6']

df.loc[df['Cl1'] == 'Diecast_Pivot_2', 'Diecast_Pivot_2'] = df['Cl2']
df.loc[df['Cl3'] == 'Diecast_Pivot_2', 'Diecast_Pivot_2'] = df['Cl4']
df.loc[df['Cl5'] == 'Diecast_Pivot_2', 'Diecast_Pivot_2'] = df['Cl6']

df = df.sort_values('Projection')


# for column
# df['Datum_probe'] = df['Datum_probe'].replace(np.nan, 0)

# for whole dataframe
df = df.replace(np.nan, '')
# inplace
df.replace(np.nan, 0, inplace=True)

df = pd.DataFrame(df,columns=['Date','betweenDate','Model','Line','Rangeindex','Datum_probe','Max_force','Set_Dim_A','Set_Dim_B','Set_Dim_C','Diecast_Pivot_2','Projection','Support','Confidence'])
print("displaying the dataframe with data as record")
print(df)
print("-------------------------------Converting into csv file with a new a new file name ------------------------------------")
df.to_csv("C:\\Users\\IT\\Desktop\\1-4 KPIV.csv")
df=pd.read_csv("C:\\Users\\IT\\Desktop\\1-4 KPIV.csv")
print(df)

displaying the dataframe with data as record
         Date              betweenDate   Model  Line  Rangeindex Datum_probe  \
0  2023-06-01  2023-01-02 - 2023-05-31  LONGSP  3-14           1
1  2023-06-01  2023-01-02 - 2023-05-31  LONGSP  3-14           2
8  2023-06-01  2023-01-02 - 2023-05-31  LONGSP  3-14           9
9  2023-06-01  2023-01-02 - 2023-05-31  LONGSP  3-14          10          -2
2  2023-06-01  2023-01-02 - 2023-05-31  LONGSP  3-14           3          -2
3  2023-06-01  2023-01-02 - 2023-05-31  LONGSP  3-14           4          -2
4  2023-06-01  2023-01-02 - 2023-05-31  LONGSP  3-14           5
5  2023-06-01  2023-01-02 - 2023-05-31  LONGSP  3-14           6
6  2023-06-01  2023-01-02 - 2023-05-31  LONGSP  3-14           7
7  2023-06-01  2023-01-02 - 2023-05-31  LONGSP  3-14           8

  Max_force Set_Dim_A Set_Dim_B Set_Dim_C Diecast_Pivot_2 Projection Support  \
0                             1         3                       fail    0.08
1                                       3                       fail    0.10
8                                      -2               1       fail    0.09
9                                      -2                       fail    0.13
2                             1         1                       pass    0.10
3                                       1                       pass    0.18
4                   1                   1                       pass    0.11
5                             1         1                       pass    0.15
6                                       1              -1       pass    0.09
7                                       1                       pass    0.26

  Confidence
0       1.00
1       0.98
8       0.93
9       0.93
2       0.96
3       0.96
4       0.96
5       0.95
6       0.95
7       0.94
-------------------------------Converting into csv file with a new a new file name ------------------------------------
   Unnamed: 0        Date              betweenDate   Model  Line  Rangeindex  \
0           0  2023-06-01  2023-01-02 - 2023-05-31  LONGSP  3-14           1
1           1  2023-06-01  2023-01-02 - 2023-05-31  LONGSP  3-14           2
2           8  2023-06-01  2023-01-02 - 2023-05-31  LONGSP  3-14           9
3           9  2023-06-01  2023-01-02 - 2023-05-31  LONGSP  3-14          10
4           2  2023-06-01  2023-01-02 - 2023-05-31  LONGSP  3-14           3
5           3  2023-06-01  2023-01-02 - 2023-05-31  LONGSP  3-14           4
6           4  2023-06-01  2023-01-02 - 2023-05-31  LONGSP  3-14           5
7           5  2023-06-01  2023-01-02 - 2023-05-31  LONGSP  3-14           6
8           6  2023-06-01  2023-01-02 - 2023-05-31  LONGSP  3-14           7
9           7  2023-06-01  2023-01-02 - 2023-05-31  LONGSP  3-14           8

   Datum_probe  Max_force  Set_Dim_A  Set_Dim_B  Set_Dim_C  Diecast_Pivot_2  \
0          NaN        NaN        NaN        1.0          3              NaN
1          NaN        NaN        NaN        NaN          3              NaN
2          NaN        NaN        NaN        NaN         -2              1.0
3         -2.0        NaN        NaN        NaN         -2              NaN
4         -2.0        NaN        NaN        1.0          1              NaN
5         -2.0        NaN        NaN        NaN          1              NaN
6          NaN        NaN        1.0        NaN          1              NaN
7          NaN        NaN        NaN        1.0          1              NaN
8          NaN        NaN        NaN        NaN          1             -1.0
9          NaN        NaN        NaN        NaN          1              NaN

  Projection  Support  Confidence
0       fail     0.08        1.00
1       fail     0.10        0.98
2       fail     0.09        0.93
3       fail     0.13        0.93
4       pass     0.10        0.96
5       pass     0.18        0.96
6       pass     0.11        0.96
7       pass     0.15        0.95
8       pass     0.09        0.95
9       pass     0.26        0.94

In [31]:
# import pyodbc
# import pandas as pd
# cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
# cursor = cnxn.cursor()
# # Insert Dataframe into SQL Server:
# for index, row in df.iterrows():
#      cursor.execute("INSERT INTO [DataforAnalysis].[dbo].[Sample_Data_ML_TEST](Date,betweenDate,Model,Line,Rangeindex,Datum_probe,Max_force,Set_Dim_A,Set_Dim_B,Set_Dim_C,Diecast_Pivot_2,Projection,Support,Confidence) values ('"+str(row.Date)+"','"+row.betweenDate+"','"+row.Model+"','"+row.Line+"','"+str(row.Rangeindex)+"','"+str(row.Datum_probe)+"','"+str(row.Max_force)+"','"+str(row.Set_Dim_A)+"','"+str(row.Set_Dim_B)+"','"+str(row.Set_Dim_C)+"','"+str(row.Diecast_Pivot_2)+"','"+str(row.Projection)+"','"+str(row.Support)+"','"+str(row.Confidence)+"')")
#      # ,(row.Date,row.betweenDate,row.Model,)
#                     # ('"+row.Date+"','"+row.betweenDate+"','"+row.Model+"','"+row.Line+"','"+row.Datum_probe+"','"+ a +"','"+row.Set_Dim_A+"','"+row.Set_Dim_B+"','"+row.Set_Dim_C+"','"+row.Diecast_Pivot_2+"','"+row.Projection+"','"+row.Support+"','"+row.Confidence+"')")
# cnxn.commit()
# cursor.close()