In [6]:
import pandas as pd
import numpy as np

In [2]:
# import datetime
# Date= datetime.datetime.now().date()-datetime.timedelta(1)
# Line='3-6'
# Model='LONGSP'
# Startdate=datetime.datetime.now().date()-datetime.timedelta(1)-datetime.timedelta(150)
# finishDate=datetime.datetime.now().date()-datetime.timedelta(1)-datetime.timedelta(1)

In [2]:
import datetime
Date= datetime.datetime.now().date()
Line='3-10_IP'
Model='LONGSP'
Startdate=datetime.datetime.now().date()-datetime.timedelta(150)
finishDate=datetime.datetime.now().date()-datetime.timedelta(1)

In [8]:
import pyodbc
import pandas as pd
# Some other example server values are
# server = 'localhost\sqlexpress' # for a named instance
# server = 'myserver,port' # to specify an alternate port
server = '192.168.101.219' 
database = 'DataforAnalysis' 
username = 'DATALYZER' 
password = 'NMB54321'  
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()
# select 26 rows from SQL table to insert in dataframe.
query = "SELECT [Projection1],[Datum_probe],convert(float,[Max_force]) as [Max_force],[Set_Dim_A],[Set_Dim_B],[Set_Dim_C],[Diecast_Pivot_2]FROM [Diecast].[dbo].[Pivot] join [TransportData].[dbo].[Matching_Auto_Unit1] on [Pivot].Diecast_S_N=[Matching_Auto_Unit1].Barcode_Base join [DataforAnalysis].[dbo].[DataML_Test] on [DataML_Test].Barcode_motor=[Matching_Auto_Unit1].Barcode_Motor   WHERE [DataML_Test].[Model] = '"+Model+"' AND [DataML_Test].[Line] = '3-10' AND [DataML_Test].[Date] BETWEEN '"+str(Startdate)+"' and '"+str(finishDate)+"'and ([Projection1] is not null and [Datum_probe] is not null and [Max_force] is not null and [Set_Dim_A] is not null and [Set_Dim_B] is not null and [Set_Dim_C] is not null and [Diecast_Pivot_2] is not null)and [Projection1] !='0' and [Projection1]>0 and [Projection1] < 1;"
datasets = pd.read_sql(query, cnxn)
print(datasets.head(100000))

C:\Users\IT\AppData\Local\Temp\ipykernel_18884\1945553501.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  datasets = pd.read_sql(query, cnxn)

Empty DataFrame
Columns: [Projection1, Datum_probe, Max_force, Set_Dim_A, Set_Dim_B, Set_Dim_C, Diecast_Pivot_2]
Index: []

In [ ]:
query

"SELECT [Projection1],[Datum_probe],convert(float,[Max_force]) as [Max_force],[Set_Dim_A],[Set_Dim_B],[Set_Dim_C],[Diecast_Pivot_2]FROM [Diecast].[dbo].[Pivot] join [TransportData].[dbo].[Matching_Auto_Unit1] on [Pivot].Diecast_S_N=[Matching_Auto_Unit1].Barcode_Base join [DataforAnalysis].[dbo].[DataML_Test] on [DataML_Test].Barcode_motor=[Matching_Auto_Unit1].Barcode_Motor   WHERE [DataML_Test].[Model] = 'LONGSP' AND [DataML_Test].[Line] = '3-14' AND [DataML_Test].[Date] BETWEEN '2023-01-20' and '2023-06-18'and ([Projection1] is not null and [Datum_probe] is not null and [Max_force] is not null and [Set_Dim_A] is not null and [Set_Dim_B] is not null and [Set_Dim_C] is not null and [Diecast_Pivot_2] is not null)and [Projection1] !='0' and [Projection1]>0 and [Projection1] < 1;"

In [ ]:
import pyodbc
import pandas as pd
# Some other example server values are
# server = 'localhost\sqlexpress' # for a named instance
# server = 'myserver,port' # to specify an alternate port
server = '192.168.101.219' 
database = 'DataforAnalysis' 
username = 'DATALYZER' 
password = 'NMB54321'  
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()
# select 26 rows from SQL table to insert in dataframe.
query = "SELECT [Bin],[Bin2],[Datum_probe_Min],[Datum_probe_Max],[Max_force_Min],[Max_force_Max],[Set_Dim_A_Min],[Set_Dim_A_Max],[Set_Dim_B_Min],[Set_Dim_B_Max],[Set_Dim_C_Min],[Set_Dim_C_Max],[Pivot_Height_Min],[Pivot_Height_Max],[Pivot_2_Min],[Pivot_2_Max],[KPOV_Min],[KPOV_Max]FROM [DataforAnalysis].[dbo].[Reference];"
spec = pd.read_sql(query, cnxn)
print(spec.head(100000))

C:\Users\IT\AppData\Local\Temp\ipykernel_6708\445518909.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  spec = pd.read_sql(query, cnxn)

           Bin        Bin2 Datum_probe_Min Datum_probe_Max Max_force_Min  \
0   A           -4               -infinity          124.99     -infinity
1   B           -3                     125          249.99           300
2   C           -2                     250          374.99        833.33
3   D           -1                     375          499.99       1366.67
4   E           1                      500          624.99          1900
5   F           2                      625          749.99       2433.33
6   G           3                      750             875       2966.67
7   H           4                   875.01       +infinity       3500.01
8   Pass        Pass                                  None          None
9   Fail        Fail                                  None          None
10  Fail        Fail                  None            None          None

   Max_force_Max Set_Dim_A_Min Set_Dim_A_Max Set_Dim_B_Min Set_Dim_B_Max  \
0         299.99     -infinity        0.4774     -infinity        0.4774
1         833.32        0.4775        0.4901        0.4775        0.4901
2        1366.66        0.4902        0.5028        0.4902        0.5028
3        1899.99        0.5029        0.5155        0.5029        0.5155
4        2433.32        0.5156        0.5282        0.5156        0.5282
5        2966.66        0.5283        0.5409        0.5283        0.5409
6           3500         0.541        0.5537         0.541        0.5537
7      +infinity        0.5538     +infinity        0.5538     +infinity
8           None          None          None          None          None
9           None          None          None          None          None
10          None          None          None          None          None

   Set_Dim_C_Min Set_Dim_C_Max Pivot_Height_Min Pivot_Height_Max Pivot_2_Min  \
0      -infinity        0.4774        -infinity           -9.403   -infinity
1         0.4775        0.4901          -9.4031          -9.3945      9.3524
2         0.4902        0.5028          -9.3946           -9.386      9.3607
3         0.5029        0.5155          -9.3861          -9.3776      9.3692
4         0.5156        0.5282          -9.3777          -9.3691      9.3777
5         0.5283        0.5409          -9.3692          -9.3606      9.3861
6          0.541        0.5537          -9.3607          -9.3523      9.3946
7         0.5538     +infinity          -9.3524        +infinity      9.4031
8           None          None             None                         None
9           None          None             None                         None
10          None          None             None                         None

   Pivot_2_Max   KPOV_Min   KPOV_Max
0       9.3523       None       None
1       9.3606       None       None
2       9.3691       None       None
3       9.3776       None       None
4        9.386       None       None
5       9.3945       None       None
6        9.403       None       None
7    +infinity       None       None
8         None     0.4648     0.5664
9         None  -infinity     0.4647
10        None     0.5665  +infinity

In [7]:
from pandas import DataFrame

data1 ={
'Date':Date,
'betweenDate':str(Startdate)+' - '+str(finishDate),
'Model':Model,
'Line':Line,

'describe1':['count','mean','std','min','25%','50%','75%','max'
],
'Datum_probe':datasets.describe()['Datum_probe'],
'Max_force':datasets.describe()['Max_force'],
'Set_Dim_A':datasets.describe()['Set_Dim_A'],
'Set_Dim_B':datasets.describe()['Set_Dim_B'],
'Set_Dim_C':datasets.describe()['Set_Dim_C'],
'Diecast_Pivot_2':datasets.describe()['Diecast_Pivot_2'],
'Projection':datasets.describe()['Projection1'],
}
dff1 = pd.DataFrame(data1,columns=['Date','betweenDate','Model','Line','describe1',str('Datum_probe'),str('Max_force'),str('Set_Dim_A'),str('Set_Dim_B'),str('Set_Dim_C'),str('Diecast_Pivot_2'),str('Projection')])
print("displaying the dataframe with data as record")
print(dff1)
print("-------------------------------Converting into csv file with a new a new file name ------------------------------------")
# dff1.to_csv("C:\\Users\\IT\\Desktop\\Date ML\\LSP3-10 Accuracy.csv")
# dff1=pd.read_csv("C:\\Users\\IT\\Desktop\\Date ML\\LSP3-10 Accuracy.csv")
# print(dff1)

ValueError: array length 8 does not match index length 4

In [ ]:
import pyodbc
import pandas as pd
# insert data from csv file into dataframe.
# working directory for csv file: type "pwd" in Azure Data Studio or Linux
# working directory in Windows c:\users\username
# Some other example server values are
# server = 'localhost\sqlexpress' # for a named instance
# server = 'myserver,port' # to specify an alternate port
server = '192.168.101.219' 
database = 'DataforAnalysis' 
username = 'DATALYZER' 
password = 'NMB54321'  
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()
# Insert Dataframe into SQL Server:
for index, row in dff1.iterrows():
     cursor.execute("INSERT INTO [DataforAnalysis].[dbo].[DescribeML](Date,betweenDate,Model,Line,describe1,Datum_probe,Max_force,Set_Dim_A,Set_Dim_B,Set_Dim_C,Diecast_Pivot_2,Projection) values ('"+str(row.Date)+"','"+row.betweenDate+"','"+row.Model+"','"+row.Line+"','"+str(row.describe1)+"','"+str(row.Datum_probe)+"','"+str(row.Max_force)+"','"+str(row.Set_Dim_A)+"','"+str(row.Set_Dim_B)+"','"+str(row.Set_Dim_C)+"','"+str(row.Diecast_Pivot_2)+"','"+str(row.Projection)+"')")

cnxn.commit()
cursor.close()

In [ ]:
datasets['Projection1']=pd.cut(datasets['Projection1'],bins=[-np.inf,spec['KPOV_Max'][9],spec['KPOV_Max'][8],np.inf],labels=['fail_low','pass','fail_high'])
datasets['Projection1'].replace('fail_low','fail',inplace=True)
datasets['Projection1'].replace('fail_high','fail',inplace=True)

In [ ]:
from collections import Counter
print(Counter(datasets['Projection1']))

Counter({'pass': 99660, 'fail': 506})

In [ ]:
from imblearn.over_sampling import SMOTE
# over_sampling คือการทำค่า fail 1284 ให้เท่ากับค่า pass 271k เพื่อให้ data ในการ train เพิ่มมากขึ้น
from collections import Counter

k = 3
X = datasets.loc[:, datasets.columns != 'Projection1']
y = datasets.Projection1

# sampling_strategy=0.1 oversampling 10%
sm = SMOTE(sampling_strategy='minority', k_neighbors=k, random_state=100)
X_res, y_res = sm.fit_resample(X, y)

datasets = pd.concat([pd.DataFrame(X_res), pd.DataFrame(y_res)], axis=1)

In [ ]:
from collections import Counter
print(Counter(datasets['Projection1']))

Counter({'pass': 99660, 'fail': 99660})

In [ ]:
Datum_3LCL = spec['Datum_probe_Max'][0]
Datum_2LCL = spec['Datum_probe_Max'][1]
Datum_LCL = spec['Datum_probe_Max'][2]
Datum_CL = spec['Datum_probe_Max'][3]
Datum_UCL = spec['Datum_probe_Max'][4]
Datum_2UCL = spec['Datum_probe_Max'][5]
Datum_3UCL = spec['Datum_probe_Max'][6]

Max_3LCL = spec['Max_force_Max'][0]
Max_2LCL = spec['Max_force_Max'][1]
Max_LCL = spec['Max_force_Max'][2]
Max_CL = spec['Max_force_Max'][3]
Max_UCL = spec['Max_force_Max'][4]
Max_2UCL = spec['Max_force_Max'][5]
Max_3UCL = spec['Max_force_Max'][6]

Set_Dim_A_3LCL = spec['Set_Dim_A_Max'][0]
Set_Dim_A_2LCL = spec['Set_Dim_A_Max'][1]
Set_Dim_A_LCL = spec['Set_Dim_A_Max'][2]
Set_Dim_A_CL = spec['Set_Dim_A_Max'][3]
Set_Dim_A_UCL = spec['Set_Dim_A_Max'][4]
Set_Dim_A_2UCL = spec['Set_Dim_A_Max'][5]
Set_Dim_A_3UCL = spec['Set_Dim_A_Max'][6]


Set_Dim_B_3LCL = spec['Set_Dim_B_Max'][0]
Set_Dim_B_2LCL = spec['Set_Dim_B_Max'][1]
Set_Dim_B_LCL = spec['Set_Dim_B_Max'][2]
Set_Dim_B_CL = spec['Set_Dim_B_Max'][3]
Set_Dim_B_UCL = spec['Set_Dim_B_Max'][4]
Set_Dim_B_2UCL = spec['Set_Dim_B_Max'][5]
Set_Dim_B_3UCL = spec['Set_Dim_B_Max'][6]

Set_Dim_C_3LCL = spec['Set_Dim_C_Max'][0]
Set_Dim_C_2LCL = spec['Set_Dim_C_Max'][1]
Set_Dim_C_LCL = spec['Set_Dim_C_Max'][2]
Set_Dim_C_CL = spec['Set_Dim_C_Max'][3]
Set_Dim_C_UCL = spec['Set_Dim_C_Max'][4]
Set_Dim_C_2UCL = spec['Set_Dim_C_Max'][5]
Set_Dim_C_3UCL = spec['Set_Dim_C_Max'][6]


Diecast_Pivot_2_3LCL = spec['Pivot_2_Max'][0]
Diecast_Pivot_2_2LCL = spec['Pivot_2_Max'][1]
Diecast_Pivot_2_LCL = spec['Pivot_2_Max'][2]
Diecast_Pivot_2_CL = spec['Pivot_2_Max'][3]
Diecast_Pivot_2_UCL = spec['Pivot_2_Max'][4]
Diecast_Pivot_2_2UCL = spec['Pivot_2_Max'][5]
Diecast_Pivot_2_3UCL = spec['Pivot_2_Max'][6]


datasets['Datum_probe']=pd.cut(datasets['Datum_probe'],bins=[-np.inf, float(Datum_3LCL), float(Datum_2LCL), float(Datum_LCL), float(Datum_CL), float(Datum_UCL), float(Datum_2UCL), float(Datum_3UCL), np.inf],labels=[-4,-3,-2,-1,1,2,3,4])

datasets['Max_force']=pd.cut(datasets['Max_force'],bins=[-np.inf, float(Max_3LCL), float(Max_2LCL), float(Max_LCL), float(Max_CL),float(Max_UCL),float(Max_2UCL),float(Max_3UCL), np.inf],labels=[-4,-3,-2,-1,1,2,3,4])

datasets['Set_Dim_A']=pd.cut(datasets['Set_Dim_A'],bins=[-np.inf, float(Set_Dim_A_3LCL), float(Set_Dim_A_2LCL), float(Set_Dim_A_LCL),float(Set_Dim_A_CL),float(Set_Dim_A_UCL),float(Set_Dim_A_2UCL),float(Set_Dim_A_3UCL),np.inf],labels=[-4,-3,-2,-1,1,2,3,4])

datasets['Set_Dim_B']=pd.cut(datasets['Set_Dim_B'],bins=[-np.inf, float(Set_Dim_B_3LCL), float(Set_Dim_B_2LCL), float(Set_Dim_B_LCL), float(Set_Dim_B_CL), Set_Dim_B_UCL, Set_Dim_B_2UCL, Set_Dim_B_3UCL, np.inf],labels=[-4,-3,-2,-1,1,2,3,4])

datasets['Set_Dim_C']=pd.cut(datasets['Set_Dim_C'],bins=[-np.inf, float(Set_Dim_C_3LCL), float(Set_Dim_C_2LCL), float(Set_Dim_C_LCL), float(Set_Dim_C_CL), float(Set_Dim_C_UCL),float(Set_Dim_C_2UCL),float(Set_Dim_C_3UCL), np.inf],labels=[-4,-3,-2,-1,1,2,3,4])

datasets['Diecast_Pivot_2']=pd.cut(datasets['Diecast_Pivot_2'],bins=[-np.inf, float(Diecast_Pivot_2_3LCL), float(Diecast_Pivot_2_2LCL),float(Diecast_Pivot_2_LCL),float(Diecast_Pivot_2_CL),float(Diecast_Pivot_2_UCL),float(Diecast_Pivot_2_2UCL),float(Diecast_Pivot_2_3UCL),np.inf],labels=[-4,-3,-2,-1,1,2,3,4])

In [ ]:
datasets

,Datum_probe,Max_force,Set_Dim_A,Set_Dim_B,Set_Dim_C,Diecast_Pivot_2,Projection1
0,1,-3,-1,-1,-1,1,pass
1,1,-3,-1,1,1,1,pass
2,1,-2,-2,-1,1,-1,pass
3,1,-2,-2,-2,-1,-1,pass
4,1,-3,-2,-2,-1,-1,pass
...,...,...,...,...,...,...,...
199315,-2,-2,-1,1,-2,-1,fail
199316,-2,-2,-1,1,-2,-1,fail
199317,1,-2,-1,1,2,1,fail
199318,1,-2,-1,-1,2,-1,fail
199319,-2,-2,1,-1,2,1,fail

In [ ]:
from pyarc import CBA, TransactionDB
from sklearn.model_selection import train_test_split 
from sklearn.metrics import classification_report

train, test = train_test_split(datasets, test_size=0.1)

txns_train = TransactionDB.from_DataFrame(train)
txns_test = TransactionDB.from_DataFrame(test)

cba = CBA (support = 0.04, confidence = 0.7, algorithm ='m1')
cba.fit(txns_train)

y_pred = cba.predict(txns_test)
y_test = test['Projection1']
print ((classification_report(y_test,y_pred)))

              precision    recall  f1-score   support

        fail       1.00      0.30      0.47     10031
        pass       0.59      1.00      0.74      9901

    accuracy                           0.65     19932
   macro avg       0.79      0.65      0.60     19932
weighted avg       0.79      0.65      0.60     19932

In [ ]:
cba.clf.rules

[CAR {Set_Dim_B=1,Set_Dim_A=1,Set_Dim_C=1} => {Projection1=pass} sup: 0.06 conf: 1.00 len: 4, id: 109,
 CAR {Max_force=-3,Set_Dim_A=1,Set_Dim_C=1} => {Projection1=pass} sup: 0.05 conf: 1.00 len: 4, id: 108,
 CAR {Set_Dim_C=3,Set_Dim_A=1,Datum_probe=1,Set_Dim_B=1,Max_force=-2} => {Projection1=fail} sup: 0.06 conf: 1.00 len: 6, id: 58,
 CAR {Set_Dim_B=1,Max_force=-2,Set_Dim_C=3,Set_Dim_A=1} => {Projection1=fail} sup: 0.06 conf: 1.00 len: 5, id: 59,
 CAR {Set_Dim_C=3,Datum_probe=1,Set_Dim_B=1,Max_force=-2,Diecast_Pivot_2=1} => {Projection1=fail} sup: 0.05 conf: 1.00 len: 6, id: 74,
 CAR {Set_Dim_B=1,Set_Dim_C=3,Set_Dim_A=-1} => {Projection1=fail} sup: 0.04 conf: 1.00 len: 4, id: 72,
 CAR {Datum_probe=1,Max_force=-2,Set_Dim_B=1,Set_Dim_C=3} => {Projection1=fail} sup: 0.08 conf: 1.00 len: 5, id: 75,
 CAR {Set_Dim_B=1,Max_force=-2,Diecast_Pivot_2=1,Set_Dim_C=3} => {Projection1=fail} sup: 0.05 conf: 1.00 len: 5, id: 76,
 CAR {Datum_probe=1,Set_Dim_B=1,Diecast_Pivot_2=1,Set_Dim_C=3} => {Projection1=fail} sup: 0.10 conf: 1.00 len: 5, id: 85,
 CAR {Datum_probe=1,Set_Dim_B=1,Set_Dim_C=3,Set_Dim_A=1} => {Projection1=fail} sup: 0.10 conf: 1.00 len: 5, id: 65,
 CAR {Set_Dim_B=1,Diecast_Pivot_2=1,Set_Dim_C=3} => {Projection1=fail} sup: 0.11 conf: 1.00 len: 4, id: 87,
 CAR {Datum_probe=1,Set_Dim_B=1,Set_Dim_C=3} => {Projection1=fail} sup: 0.14 conf: 1.00 len: 4, id: 86,
 CAR {Set_Dim_B=1,Set_Dim_C=3} => {Projection1=fail} sup: 0.15 conf: 1.00 len: 3, id: 88,
 CAR {Diecast_Pivot_2=1,Set_Dim_A=1,Set_Dim_C=1} => {Projection1=pass} sup: 0.06 conf: 1.00 len: 4, id: 111,
 CAR {Max_force=-3,Set_Dim_A=-1,Set_Dim_C=-1,Datum_probe=-2} => {Projection1=pass} sup: 0.05 conf: 1.00 len: 5, id: 24,
 CAR {Datum_probe=1,Set_Dim_B=1,Diecast_Pivot_2=1,Set_Dim_C=1} => {Projection1=pass} sup: 0.04 conf: 1.00 len: 5, id: 133,
 CAR {Set_Dim_C=1,Set_Dim_A=1,Datum_probe=-2} => {Projection1=pass} sup: 0.06 conf: 1.00 len: 4, id: 102,
 CAR {Set_Dim_C=-1,Set_Dim_B=-1,Datum_probe=-2} => {Projection1=pass} sup: 0.05 conf: 1.00 len: 4, id: 16,
 CAR {Datum_probe=1,Set_Dim_A=1,Set_Dim_C=1} => {Projection1=pass} sup: 0.04 conf: 1.00 len: 4, id: 110,
 CAR {Set_Dim_A=1,Set_Dim_C=1} => {Projection1=pass} sup: 0.10 conf: 1.00 len: 3, id: 112,
 CAR {Set_Dim_C=-1,Set_Dim_B=-1,Set_Dim_A=-1} => {Projection1=pass} sup: 0.05 conf: 1.00 len: 4, id: 17,
 CAR {Diecast_Pivot_2=1,Set_Dim_C=1,Datum_probe=-2} => {Projection1=pass} sup: 0.07 conf: 0.99 len: 4, id: 106,
 CAR {Set_Dim_B=1,Diecast_Pivot_2=1,Set_Dim_C=1} => {Projection1=pass} sup: 0.08 conf: 0.99 len: 4, id: 135,
 CAR {Max_force=-3,Diecast_Pivot_2=1,Set_Dim_C=1} => {Projection1=pass} sup: 0.08 conf: 0.99 len: 4, id: 131,
 CAR {Datum_probe=1,Set_Dim_B=1,Set_Dim_C=1} => {Projection1=pass} sup: 0.07 conf: 0.99 len: 4, id: 134,
 CAR {Set_Dim_C=3,Set_Dim_A=-1} => {Projection1=fail} sup: 0.04 conf: 0.99 len: 3, id: 73]

In [ ]:
datasp =(classification_report(y_test,y_pred))

In [ ]:
from pandas import DataFrame

data1 ={
'Date':str(Date),
'Line':Line,
'Model':Model,
'Details':[(datasp[63:67]),(datasp[117:121]),(datasp[168:176]),(datasp[221:230]),(datasp[272:284])
],
'Procision':[datasp[74:78],datasp[128:132],(''),datasp[128:132],datasp[237:241]
],
'recall':[datasp[84:88],datasp[138:142],(''),datasp[247:251],datasp[301:305]
],
'f1_score':[datasp[94:98],datasp[148:152],(datasp[203:207]),datasp[257:261],datasp[311:315]
],

'support':[datasp[103:108],datasp[157:162],datasp[209:217],datasp[265:271],datasp[319:325]
],
}
dff = pd.DataFrame(data1,columns=['Date','Line','Model','Details','Procision','recall','f1_score','support'])
print("displaying the dataframe with data as record")
print(dff)
print("-------------------------------Converting into csv file with a new a new file name ------------------------------------")
# df.to_csv("C:\\Users\\IT\\Desktop\\Date ML\\Accuracy ML\\LSP3-14 Accuracy.csv")
# df=pd.read_csv("C:\\Users\\IT\\Desktop\\Date ML\\Accuracy ML\\LSP3-14 Accuracy.csv")
# print(df)

displaying the dataframe with data as record
         Date       Line   Model       Details Procision recall f1_score  \
0  2023-06-19  TEST_3-14  LONGSP          fail      1.00   0.30     0.47
1  2023-06-19  TEST_3-14  LONGSP          pass      0.59   1.00     0.74
2  2023-06-19  TEST_3-14  LONGSP      accuracy                      0.65
3  2023-06-19  TEST_3-14  LONGSP     macro avg      0.59   0.65     0.60
4  2023-06-19  TEST_3-14  LONGSP  weighted avg      0.79   0.65     0.60

    support
0     10031
1      9901
2     19932
3     19932
4     19932
-------------------------------Converting into csv file with a new a new file name ------------------------------------

In [ ]:
import pyodbc
import pandas as pd
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()
# Insert Dataframe into SQL Server:
for index, row in dff.iterrows():

     cursor.execute("INSERT INTO [DataforAnalysis].[dbo].[accuracyDataML_Test] (Date,Line,Model,Details,Procision,recall,f1_score,support) values ('"+row.Date+"','"+row.Line+"','"+row.Model+"','"+row.Details+"','"+row.Procision+"','"+row.recall+"','"+row.f1_score+"','"+row.support+"')")
     # ,(row.Date,row.betweenDate,row.Model,)Procision
                    # ('"+row.Date+"','"+row.betweenDate+"','"+row.Model+"','"+row.Line+"','"+row.Datum_probe+"','"+ a +"','"+row.Set_Dim_A+"','"+row.Set_Dim_B+"','"+row.Set_Dim_C+"','"+row.Diecast_Pivot_2+"','"+row.Projection+"','"+row.Support+"','"+row.Confidence+"')")
cnxn.commit()
cursor.close()

In [ ]:
cba1 =cba.clf.rules

In [ ]:
aa =" "
dd=[]
for  x in range(len(cba1)):
    aa += str (cba1[x]).replace("{","").replace("}","").replace("Projection1=","")
    dd=aa.split("CAR")
print(dd)

[' ', ' Set_Dim_B=1,Set_Dim_A=1,Set_Dim_C=1 => pass sup: 0.06 conf: 1.00 len: 4, id: 109', ' Max_force=-3,Set_Dim_A=1,Set_Dim_C=1 => pass sup: 0.05 conf: 1.00 len: 4, id: 108', ' Set_Dim_C=3,Set_Dim_A=1,Datum_probe=1,Set_Dim_B=1,Max_force=-2 => fail sup: 0.06 conf: 1.00 len: 6, id: 58', ' Set_Dim_B=1,Max_force=-2,Set_Dim_C=3,Set_Dim_A=1 => fail sup: 0.06 conf: 1.00 len: 5, id: 59', ' Set_Dim_C=3,Datum_probe=1,Set_Dim_B=1,Max_force=-2,Diecast_Pivot_2=1 => fail sup: 0.05 conf: 1.00 len: 6, id: 74', ' Set_Dim_B=1,Set_Dim_C=3,Set_Dim_A=-1 => fail sup: 0.04 conf: 1.00 len: 4, id: 72', ' Datum_probe=1,Max_force=-2,Set_Dim_B=1,Set_Dim_C=3 => fail sup: 0.08 conf: 1.00 len: 5, id: 75', ' Set_Dim_B=1,Max_force=-2,Diecast_Pivot_2=1,Set_Dim_C=3 => fail sup: 0.05 conf: 1.00 len: 5, id: 76', ' Datum_probe=1,Set_Dim_B=1,Diecast_Pivot_2=1,Set_Dim_C=3 => fail sup: 0.10 conf: 1.00 len: 5, id: 85', ' Datum_probe=1,Set_Dim_B=1,Set_Dim_C=3,Set_Dim_A=1 => fail sup: 0.10 conf: 1.00 len: 5, id: 65', ' Set_Dim_B=1,Diecast_Pivot_2=1,Set_Dim_C=3 => fail sup: 0.11 conf: 1.00 len: 4, id: 87', ' Datum_probe=1,Set_Dim_B=1,Set_Dim_C=3 => fail sup: 0.14 conf: 1.00 len: 4, id: 86', ' Set_Dim_B=1,Set_Dim_C=3 => fail sup: 0.15 conf: 1.00 len: 3, id: 88', ' Diecast_Pivot_2=1,Set_Dim_A=1,Set_Dim_C=1 => pass sup: 0.06 conf: 1.00 len: 4, id: 111', ' Max_force=-3,Set_Dim_A=-1,Set_Dim_C=-1,Datum_probe=-2 => pass sup: 0.05 conf: 1.00 len: 5, id: 24', ' Datum_probe=1,Set_Dim_B=1,Diecast_Pivot_2=1,Set_Dim_C=1 => pass sup: 0.04 conf: 1.00 len: 5, id: 133', ' Set_Dim_C=1,Set_Dim_A=1,Datum_probe=-2 => pass sup: 0.06 conf: 1.00 len: 4, id: 102', ' Set_Dim_C=-1,Set_Dim_B=-1,Datum_probe=-2 => pass sup: 0.05 conf: 1.00 len: 4, id: 16', ' Datum_probe=1,Set_Dim_A=1,Set_Dim_C=1 => pass sup: 0.04 conf: 1.00 len: 4, id: 110', ' Set_Dim_A=1,Set_Dim_C=1 => pass sup: 0.10 conf: 1.00 len: 3, id: 112', ' Set_Dim_C=-1,Set_Dim_B=-1,Set_Dim_A=-1 => pass sup: 0.05 conf: 1.00 len: 4, id: 17', ' Diecast_Pivot_2=1,Set_Dim_C=1,Datum_probe=-2 => pass sup: 0.07 conf: 0.99 len: 4, id: 106', ' Set_Dim_B=1,Diecast_Pivot_2=1,Set_Dim_C=1 => pass sup: 0.08 conf: 0.99 len: 4, id: 135', ' Max_force=-3,Diecast_Pivot_2=1,Set_Dim_C=1 => pass sup: 0.08 conf: 0.99 len: 4, id: 131', ' Datum_probe=1,Set_Dim_B=1,Set_Dim_C=1 => pass sup: 0.07 conf: 0.99 len: 4, id: 134', ' Set_Dim_C=3,Set_Dim_A=-1 => fail sup: 0.04 conf: 0.99 len: 3, id: 73']

In [ ]:
fid=[]
fid01=[]
Sup=[]
Conf=[]
for op in range(len(dd)):
    dat=(dd[op].split())
    fid+=(dat[0:1])
    fid01+=dat[2:3]
    Sup+=dat[4:5]
    Conf+=dat[6:7]

In [ ]:
my_array=[]
ok =[]
i=0
while i < len(fid):
    my_array+= fid[i].split()
    ok +=[my_array[i]+','+'Null=Null'+','+'Null=Null'+','+'Null=Null'+','+'Null=Null']
    i=i+1

In [ ]:
Sp=[]
KPIV1=[]
KPIV2=[]
KPIV3=[]
KPIV4=[]
for i in ok:
    Sp1=i.split(',')
    KPIV1+=[Sp1[0]]
    KPIV2+=[Sp1[1]]
    KPIV3+=[Sp1[2]]
    KPIV4+=[Sp1[3]]

KPIVOK=[KPIV1],[KPIV2],[KPIV3],[KPIV4]

In [ ]:
dataok=[]
for i in range(len(KPIVOK)):
    dataok+=(KPIVOK[i])

In [ ]:
sp1=[]
for i in (dataok[0]):
    sp1+=[(i.split('='))]

sp2=[]
for i in (dataok[1]):
    sp2+=[(i.split('='))]

sp3=[]
for i in (dataok[2]):
    sp3+=[(i.split('='))]

sp4=[]
for i in (dataok[3]):
    sp4+=[(i.split('='))]

In [ ]:
Cl1=[]
for i in sp1:
    Cl1+=([i[0]])

Cl2=[]
for i in sp1:
    Cl2+=([i[1]])

Cl3=[]
for i in sp2:
    Cl3+=([i[0]])

Cl4=[]
for i in sp2:
    Cl4+=([i[1]])

Cl5=[]
for i in sp3:
    Cl5+=([i[0]])

Cl6=[]
for i in sp3:
    Cl6+=([i[1]])

In [ ]:
for i in Cl5:
    CL05=i.replace("Null", "-")
    print(CL05)

Set_Dim_C
Set_Dim_C
Datum_probe
Set_Dim_C
Set_Dim_B
Set_Dim_A
Set_Dim_B
Diecast_Pivot_2
Diecast_Pivot_2
Set_Dim_C
Set_Dim_C
Set_Dim_C
-
Set_Dim_C
Set_Dim_C
Diecast_Pivot_2
Datum_probe
Datum_probe
Set_Dim_C
-
Set_Dim_A
Datum_probe
Set_Dim_C
Set_Dim_C
Set_Dim_C
-

In [ ]:
indexok=[]
for i in range(len(my_array)):
    indexok+=([i+1])

In [ ]:
import pandas as pd
indexok=[]
for i in range(len(my_array)):
    indexok+=([i+1])
data ={
'Date':Date,
'betweenDate':str(Startdate)+' - '+str(finishDate),
'Model':Model,
'Line':Line,
'Rangeindex':indexok,
'Cl1':Cl1,
'Cl2':Cl2,
'Cl3':Cl3,
'Cl4':Cl4,
'Cl5':Cl5,
'Cl6':Cl6,
'Projection':fid01,
'Support':Sup,
'Confidence':Conf,}
df = pd.DataFrame(data)

df.loc[df['Cl1'] == 'Datum_probe', 'Datum_probe'] = df['Cl2']
df.loc[df['Cl3'] == 'Datum_probe', 'Datum_probe'] = df['Cl4']
df.loc[df['Cl5'] == 'Datum_probe', 'Datum_probe'] = df['Cl6']

df.loc[df['Cl1'] == 'Max_force', 'Max_force'] = df['Cl2']
df.loc[df['Cl3'] == 'Max_force', 'Max_force'] = df['Cl4']
df.loc[df['Cl5'] == 'Max_force', 'Max_force'] = df['Cl6']

df.loc[df['Cl1'] == 'Set_Dim_A', 'Set_Dim_A'] = df['Cl2']
df.loc[df['Cl3'] == 'Set_Dim_A', 'Set_Dim_A'] = df['Cl4']
df.loc[df['Cl5'] == 'Set_Dim_A', 'Set_Dim_A'] = df['Cl6']

df.loc[df['Cl1'] == 'Set_Dim_B', 'Set_Dim_B'] = df['Cl2']
df.loc[df['Cl3'] == 'Set_Dim_B', 'Set_Dim_B'] = df['Cl4']
df.loc[df['Cl5'] == 'Set_Dim_B', 'Set_Dim_B'] = df['Cl6']

df.loc[df['Cl1'] == 'Set_Dim_C', 'Set_Dim_C'] = df['Cl2']
df.loc[df['Cl3'] == 'Set_Dim_C', 'Set_Dim_C'] = df['Cl4']
df.loc[df['Cl5'] == 'Set_Dim_C', 'Set_Dim_C'] = df['Cl6']

df.loc[df['Cl1'] == 'Diecast_Pivot_2', 'Diecast_Pivot_2'] = df['Cl2']
df.loc[df['Cl3'] == 'Diecast_Pivot_2', 'Diecast_Pivot_2'] = df['Cl4']
df.loc[df['Cl5'] == 'Diecast_Pivot_2', 'Diecast_Pivot_2'] = df['Cl6']

df = df.sort_values('Projection')


# for column
# df['Datum_probe'] = df['Datum_probe'].replace(np.nan, 0)

# for whole dataframe
df = df.replace(np.nan, '')
# inplace
df.replace(np.nan, 0, inplace=True)

df = pd.DataFrame(df,columns=['Date','betweenDate','Model','Line','Rangeindex','Datum_probe','Max_force','Set_Dim_A','Set_Dim_B','Set_Dim_C','Diecast_Pivot_2','Projection','Support','Confidence'])
print("displaying the dataframe with data as record")
print(df)
print("-------------------------------Converting into csv file with a new a new file name ------------------------------------")
# df.to_csv("C:\\Users\\IT\\Desktop\\3-6 KPIV.csv")
# df=pd.read_csv("C:\\Users\\IT\\Desktop\\3-6 KPIV.csv")
# print(df)

displaying the dataframe with data as record
          Date              betweenDate   Model       Line  Rangeindex  \
12  2023-06-19  2023-01-20 - 2023-06-18  LONGSP  TEST_3-14          13
11  2023-06-19  2023-01-20 - 2023-06-18  LONGSP  TEST_3-14          12
10  2023-06-19  2023-01-20 - 2023-06-18  LONGSP  TEST_3-14          11
9   2023-06-19  2023-01-20 - 2023-06-18  LONGSP  TEST_3-14          10
8   2023-06-19  2023-01-20 - 2023-06-18  LONGSP  TEST_3-14           9
7   2023-06-19  2023-01-20 - 2023-06-18  LONGSP  TEST_3-14           8
25  2023-06-19  2023-01-20 - 2023-06-18  LONGSP  TEST_3-14          26
5   2023-06-19  2023-01-20 - 2023-06-18  LONGSP  TEST_3-14           6
4   2023-06-19  2023-01-20 - 2023-06-18  LONGSP  TEST_3-14           5
3   2023-06-19  2023-01-20 - 2023-06-18  LONGSP  TEST_3-14           4
2   2023-06-19  2023-01-20 - 2023-06-18  LONGSP  TEST_3-14           3
6   2023-06-19  2023-01-20 - 2023-06-18  LONGSP  TEST_3-14           7
23  2023-06-19  2023-01-20 - 2023-06-18  LONGSP  TEST_3-14          24
22  2023-06-19  2023-01-20 - 2023-06-18  LONGSP  TEST_3-14          23
21  2023-06-19  2023-01-20 - 2023-06-18  LONGSP  TEST_3-14          22
20  2023-06-19  2023-01-20 - 2023-06-18  LONGSP  TEST_3-14          21
19  2023-06-19  2023-01-20 - 2023-06-18  LONGSP  TEST_3-14          20
18  2023-06-19  2023-01-20 - 2023-06-18  LONGSP  TEST_3-14          19
16  2023-06-19  2023-01-20 - 2023-06-18  LONGSP  TEST_3-14          17
15  2023-06-19  2023-01-20 - 2023-06-18  LONGSP  TEST_3-14          16
14  2023-06-19  2023-01-20 - 2023-06-18  LONGSP  TEST_3-14          15
13  2023-06-19  2023-01-20 - 2023-06-18  LONGSP  TEST_3-14          14
24  2023-06-19  2023-01-20 - 2023-06-18  LONGSP  TEST_3-14          25
1   2023-06-19  2023-01-20 - 2023-06-18  LONGSP  TEST_3-14           2
17  2023-06-19  2023-01-20 - 2023-06-18  LONGSP  TEST_3-14          18
0   2023-06-19  2023-01-20 - 2023-06-18  LONGSP  TEST_3-14           1

   Datum_probe Max_force Set_Dim_A Set_Dim_B Set_Dim_C Diecast_Pivot_2  \
12                                         1         3
11           1                             1         3
10                                         1         3               1
9            1                             1         3
8            1                             1                         1
7                     -2                   1                         1
25                              -1                   3
5                               -1         1         3
4            1                             1         3
3                     -2                   1         3
2            1                   1                   3
6            1        -2                   1
23                    -3                             1               1
22                                         1         1               1
21          -2                                       1               1
20                              -1        -1        -1
19                               1                   1
18           1                   1                   1
16          -2                   1                   1
15           1                             1                         1
14                    -3        -1                  -1
13                               1                   1               1
24           1                             1         1
1                     -3         1                   1
17          -2                            -1        -1
0                                1         1         1

   Projection Support Confidence
12       fail    0.15       1.00
11       fail    0.14       1.00
10       fail    0.11       1.00
9        fail    0.10       1.00
8        fail    0.10       1.00
7        fail    0.05       1.00
25       fail    0.04       0.99
5        fail    0.04       1.00
4        fail    0.05       1.00
3        fail    0.06       1.00
2        fail    0.06       1.00
6        fail    0.08       1.00
23       pass    0.08       0.99
22       pass    0.08       0.99
21       pass    0.07       0.99
20       pass    0.05       1.00
19       pass    0.10       1.00
18       pass    0.04       1.00
16       pass    0.06       1.00
15       pass    0.04       1.00
14       pass    0.05       1.00
13       pass    0.06       1.00
24       pass    0.07       0.99
1        pass    0.05       1.00
17       pass    0.05       1.00
0        pass    0.06       1.00
-------------------------------Converting into csv file with a new a new file name ------------------------------------

In [ ]:
import pyodbc
import pandas as pd
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()
# Insert Dataframe into SQL Server:
for index, row in df.iterrows():
     cursor.execute("INSERT INTO [DataforAnalysis].[dbo].[Sample_Data_ML_TEST](Date,betweenDate,Model,Line,Rangeindex,Datum_probe,Max_force,Set_Dim_A,Set_Dim_B,Set_Dim_C,Diecast_Pivot_2,Projection,Support,Confidence) values ('"+str(row.Date)+"','"+row.betweenDate+"','"+row.Model+"','"+row.Line+"','"+str(row.Rangeindex)+"','"+str(row.Datum_probe)+"','"+str(row.Max_force)+"','"+str(row.Set_Dim_A)+"','"+str(row.Set_Dim_B)+"','"+str(row.Set_Dim_C)+"','"+str(row.Diecast_Pivot_2)+"','"+str(row.Projection)+"','"+str(row.Support)+"','"+str(row.Confidence)+"')")
     # ,(row.Date,row.betweenDate,row.Model,)
                    # ('"+row.Date+"','"+row.betweenDate+"','"+row.Model+"','"+row.Line+"','"+row.Datum_probe+"','"+ a +"','"+row.Set_Dim_A+"','"+row.Set_Dim_B+"','"+row.Set_Dim_C+"','"+row.Diecast_Pivot_2+"','"+row.Projection+"','"+row.Support+"','"+row.Confidence+"')")
cnxn.commit()
cursor.close()