In [1]:
import datetime
Startdate=datetime.datetime.now().date()-datetime.timedelta(30)
finishDate=datetime.datetime.now().date()-datetime.timedelta(1)

In [2]:
import pyodbc
import pandas as pd
# Some other example server values are
# server = 'localhost\sqlexpress' # for a named instance
# server = 'myserver,port' # to specify an alternate port
server = '192.168.101.219' 
database = 'DataforAnalysis' 
username = 'DATALYZER' 
password = 'NMB54321'  
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()
# select 26 rows from SQL table to insert in dataframe.
# Query to get the maximum date
max_date_query = """
    SELECT DATEADD(day, 1, MAX([Date])) as MaxDate
    FROM [DataforAnalysis].[dbo].[Store_SPC];
"""
max_date_df = pd.read_sql(max_date_query, cnxn)

# Printing the maximum date with one day added
max_date_plus_1 = max_date_df['MaxDate'][0]
print(f"Maximum Date + 1 day: {max_date_plus_1}")

query = f"""
        DECLARE @DynamicSQL AS NVARCHAR(max),
 @Start NVARCHAR(30) = '{Startdate}',
 @End NVARCHAR(30) = '{finishDate}',
 @Parameter NVARCHAR(30) = 'Set_Dim_C';

-- CTE แรก
WITH BarcodeThan100 AS (
    SELECT [DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Date] AS [Date],
           COUNT([DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Barcode]) AS [countBarcode]
    FROM [DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester]
    INNER JOIN [TransportData].[dbo].[Master_matchings]
        ON [DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].Model = [TransportData].[dbo].[Master_matchings].Model
    WHERE [DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Date] BETWEEN @Start AND @End

        AND [TransportData].[dbo].[Master_matchings].[createdAt] = (
            SELECT MAX([TransportData].[dbo].[Master_matchings].[createdAt])
            FROM [TransportData].[dbo].[Master_matchings]
        )
    GROUP BY [DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Date]
),
XT AS (
    SELECT [DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Date] AS [Date],
           CASE WHEN DATEDIFF(SECOND, 0, CAST((LAG([DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Time]) OVER (ORDER BY [DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Time] DESC) - [DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Time]) AS TIME)) < 120
                THEN DATEDIFF(SECOND, 0, CAST((LAG([DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Time]) OVER (ORDER BY [DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Time] DESC) - [DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Time]) AS TIME))
                WHEN DATEDIFF(SECOND, 0, CAST((LAG([DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Time]) OVER (ORDER BY [DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Time] DESC) - [DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Time]) AS TIME)) >= 120
                THEN 0
           END AS [C/T in sec],
           CASE WHEN DATEDIFF(SECOND, 0, CAST((LAG([DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Time]) OVER (ORDER BY [DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Time] DESC) - [DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Time]) AS TIME)) >= 120
                THEN DATEDIFF(SECOND, 0, CAST((LAG([DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Time]) OVER (ORDER BY [DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Time] DESC) - [DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Time]) AS TIME))
                WHEN DATEDIFF(SECOND, 0, CAST((LAG([DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Time]) OVER (ORDER BY [DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Time] DESC) - [DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Time]) AS TIME)) < 120
                THEN 0
           END AS [D/T],
           [DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].Set_Dim_C AS [Parameter],
           [DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Model] AS [model],
           [TransportData].[dbo].[Master_matchings].LSL AS [LSL],
           [TransportData].[dbo].[Master_matchings].CL AS [CL],
           [TransportData].[dbo].[Master_matchings].USL AS [USL],
           [DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Machine_no] AS [MC],
           [DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Barcode],
           [Line]
    FROM BarcodeThan100
    LEFT JOIN [DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester]
        ON BarcodeThan100.Date = [Dynamic_Parallelism_Tester].Date
    INNER JOIN [TransportData].[dbo].[Master_matchings]
        ON [DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].Model = [TransportData].[dbo].[Master_matchings].Model
    WHERE [DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Date] BETWEEN @Start AND @End
        AND [TransportData].[dbo].[Master_matchings].[Parameter] = @Parameter
        AND [TransportData].[dbo].[Master_matchings].[createdAt] = (
            SELECT MAX([TransportData].[dbo].[Master_matchings].[createdAt])
            FROM [TransportData].[dbo].[Master_matchings]
        )
        AND countBarcode > 100
        AND Operator = 'Operator'
)
, XO AS (
    SELECT [Date] AS [Date],
           CAST(CONVERT(FLOAT, COUNT(CASE WHEN [Parameter] >= [LSL] AND [Parameter] <= [USL] THEN 1 ELSE NULL END)) /
                CONVERT(FLOAT, COUNT(CASE WHEN [Parameter] >= [LSL] AND [Parameter] <= [USL] THEN 1 ELSE NULL END) +
                COUNT(CASE WHEN [Parameter] < [LSL] OR [Parameter] > [USL] THEN 1 ELSE NULL END)) * 100 AS DECIMAL(10, 2)) AS [%Yield],
           CAST(CONVERT(FLOAT, SUM([C/T in sec])) / COUNT([C/T in sec]) AS DECIMAL(10, 2)) AS [Cycle_time (sec)],
           CAST(CONVERT(FLOAT, SUM([D/T])) / 60 AS DECIMAL(10, 0)) AS [Down time (min)],
           CAST(AVG([Parameter]) AS DECIMAL(10, 3)) AS [AVG],
           CAST(STDEV([Parameter]) AS DECIMAL(10, 4)) AS [STD],
           CASE WHEN (CAST(CONVERT(FLOAT, (([USL] - AVG([Parameter])) / (3 * STDEV([Parameter])))) AS DECIMAL(10, 2)) <
                     CAST(CONVERT(FLOAT, ((AVG([Parameter]) - [LSL]) / (3 * STDEV([Parameter])))) AS DECIMAL(10, 2))) OR
                    ((CAST(CONVERT(FLOAT, (([USL] - AVG([Parameter])) / (3 * STDEV([Parameter])))) AS DECIMAL(10, 2)) >
                    CAST(CONVERT(FLOAT, ((AVG([Parameter]) - [LSL]) / (3 * STDEV([Parameter])))) AS DECIMAL(10, 2))) AND [LSL] = 0)
                THEN CAST(CONVERT(FLOAT, (([USL] - AVG([Parameter])) / (3 * STDEV([Parameter])))) AS DECIMAL(10, 2))
            WHEN CAST(CONVERT(FLOAT, (([USL] - AVG([Parameter])) / (3 * STDEV([Parameter])))) AS DECIMAL(10, 2)) >
                 CAST(CONVERT(FLOAT, ((AVG([Parameter]) - [LSL]) / (3 * STDEV([Parameter])))) AS DECIMAL(10, 2))
                THEN CAST(CONVERT(FLOAT, ((AVG([Parameter]) - [LSL]) / (3 * STDEV([Parameter])))) AS DECIMAL(10, 2))
            WHEN CAST(CONVERT(FLOAT, (([USL] - AVG([Parameter])) / (3 * STDEV([Parameter])))) AS DECIMAL(10, 2)) =
                 CAST(CONVERT(FLOAT, ((AVG([Parameter]) - [LSL]) / (3 * STDEV([Parameter])))) AS DECIMAL(10, 2))
                THEN CAST(CONVERT(FLOAT, (([USL] - AVG([Parameter])) / (3 * STDEV([Parameter])))) AS DECIMAL(10, 2))
           END AS [CPK],
           [model] AS [Model],
           [MC] AS [Machine],
           [Line] AS Line
    FROM XT
    GROUP BY [Date], [model], [LSL], [CL], [USL], [MC], [Line]
	HAVING  STDEV([Parameter]) != 0 and STDEV([Parameter]) is not null

)
-- คำสั่ง SQL ส่วนอื่น ๆ
SELECT [Date], [%Yield], [Cycle_time (sec)], [Down time (min)], [AVG], [STD], [CPK], [Model], [Machine], [Line],@Parameter as Parameter
FROM XO;
        """
datasets = pd.read_sql(query, cnxn)
print(datasets.head(100000))

C:\Users\IT\AppData\Local\Temp\ipykernel_17856\594276586.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  max_date_df = pd.read_sql(max_date_query, cnxn)
C:\Users\IT\AppData\Local\Temp\ipykernel_17856\594276586.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  datasets = pd.read_sql(query, cnxn)

Maximum Date + 1 day: 2023-08-29
           Date  %Yield  Cycle_time (sec)  Down time (min)    AVG     STD  \
0    2023-08-08  100.00              0.93              0.0  1.346  0.0092
1    2023-08-09   98.73              1.05              0.0  1.656  0.0082
2    2023-08-09   99.47              0.56              0.0  1.357  0.0108
3    2023-08-09  100.00              1.49           1374.0  3.189  0.0081
4    2023-08-09  100.00              0.88              0.0  1.763  0.0067
..          ...     ...               ...              ...    ...     ...
128  2023-08-17   99.68              0.44              0.0  4.450  0.0086
129  2023-08-17  100.00              0.60              0.0  3.178  0.0087
130  2023-08-19   99.68              0.62              0.0  2.331  0.0101
131  2023-08-25  100.00              0.61              0.0  1.755  0.0096
132  2023-08-25  100.00              1.23              0.0  3.184  0.0071

      CPK   Model     Machine  Line  Parameter
0    1.31  ROSE2D  FB-028-085   1-8  Set_Dim_C
1    0.73  CIMBP4  FB-028-043  3-24  Set_Dim_C
2    0.77  ROSE2D  FB-028-032   1-8  Set_Dim_C
3    1.21  V15C2D  FB-028-038   1-6  Set_Dim_C
4    1.88  V15C4D  FB-028-041  3-22  Set_Dim_C
..    ...     ...         ...   ...        ...
128  1.39  V15C1D  FB-028-011   2-9  Set_Dim_C
129  1.41  V15C2D  FB-028-006  3-29  Set_Dim_C
130  1.07  ROSE1L  FB-028-047   1-9  Set_Dim_C
131  1.07  V11 4D  FB-028-041  3-22  Set_Dim_C
132  1.61  V15C2D  FB-028-037   1-6  Set_Dim_C

[133 rows x 11 columns]

In [3]:
# Your existing code here...

# Execute the SQL query and store the results in the 'datasets' DataFrame
datasets = pd.read_sql(query, cnxn)

# Your existing code here...

# Establish a new connection for inserting the data into the target table
insert_server = '192.168.101.219'
insert_database = 'DataforAnalysis'
insert_username = 'DATALYZER'
insert_password = 'NMB54321'
insert_cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+insert_server+';DATABASE='+insert_database+';UID='+insert_username+';PWD='+ insert_password)
insert_cursor = insert_cnxn.cursor()

# Iterate through the rows of the 'datasets' DataFrame and insert data into the target table
for index, row in datasets.iterrows():
    insert_query = f"""
        INSERT INTO [DataforAnalysis].[dbo].[Store_SPC] ([Date], [Model], [Line], [Machine], [%Yield], [Cycle_time (sec)],
        [Down time (min)], [AVG], [STD], [CPK], [Parameter])
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
    """
    values = (row['Date'], row['Model'], row['Line'], row['Machine'], row['%Yield'], row['Cycle_time (sec)'],
              row['Down time (min)'], row['AVG'], row['STD'], row['CPK'], row['Parameter'])
    insert_cursor.execute(insert_query, values)

# Commit the changes and close the connection
insert_cursor.commit()
insert_cursor.close()
insert_cnxn.close()

C:\Users\IT\AppData\Local\Temp\ipykernel_17856\3032691257.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  datasets = pd.read_sql(query, cnxn)

In [4]:
import pyodbc
import pandas as pd
# Some other example server values are
# server = 'localhost\sqlexpress' # for a named instance
# server = 'myserver,port' # to specify an alternate port
server = '192.168.101.219' 
database = 'DataforAnalysis' 
username = 'DATALYZER' 
password = 'NMB54321'  
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()
# select 26 rows from SQL table to insert in dataframe.
# Query to get the maximum date
max_date_query = """
    SELECT DATEADD(day, 1, MAX([Date])) as MaxDate
    FROM [DataforAnalysis].[dbo].[SPC_STD_MC];
"""
max_date_df = pd.read_sql(max_date_query, cnxn)

# Printing the maximum date with one day added
max_date_plus_1 = max_date_df['MaxDate'][0]
print(f"Maximum Date + 1 day: {max_date_plus_1}")

query = f"""
  DECLARE @DynamicSQL AS NVARCHAR(max),
 @Start NVARCHAR(30) = '{Startdate}',
 @End NVARCHAR(30) = '{finishDate}',
 @Parameter NVARCHAR(30) = 'Set_Dim_C';

    WITH BarcodeThan100 as(
      select [DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Date] as [Date]
             ,count([DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Barcode]) as  [countBarcode]
             from [DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester]
                INNER JOIN [TransportData].[dbo].[Master_matchings]
                ON [DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].Model = [TransportData].[dbo].[Master_matchings].Model
             where [DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Date] BETWEEN  @Start AND  @End
             and [TransportData].[dbo].[Master_matchings].[createdAt] = (select max([TransportData].[dbo].[Master_matchings].[createdAt]) from [TransportData].[dbo].[Master_matchings])
       group by [DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Date]
       )
    ,XT (x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11) as
        (select [DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Date] as [Date]
        ,case when datediff(SECOND,0,cast((lag([DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Time]) over (order by [DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Time] desc) - [DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Time]) as time)) < 120
        then datediff(SECOND,0,cast((lag([DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Time]) over (order by [DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Time] desc) - [DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Time]) as time))
        when datediff(SECOND,0,cast((lag([DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Time]) over (order by [DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Time] desc) - [DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Time]) as time)) >= 120 then 0 end as [C/T in sec]
        ,case when datediff(SECOND,0,cast((lag([DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Time]) over (order by [DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Time] desc) - [DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Time]) as time)) >= 120
        then datediff(SECOND,0,cast((lag([DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Time]) over (order by [DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Time] desc) - [DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Time]) as time))
        when datediff(SECOND,0,cast((lag([DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Time]) over (order by [DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Time] desc) - [DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Time]) as time)) < 120 then 0 end as [D/T]
        ,[DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].Set_Dim_C as [Parameter]
        ,[DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Model] as [model]
        ,[TransportData].[dbo].[Master_matchings].LSL as [LSL]
        ,[TransportData].[dbo].[Master_matchings].CL as [CL]
        ,[TransportData].[dbo].[Master_matchings].USL as [USL]
        ,'Average' as [AVG]
        ,[DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Barcode]
		,Line
        from BarcodeThan100
                                left join [DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester]
                                on BarcodeThan100.Date = [Dynamic_Parallelism_Tester].Date
        INNER JOIN [TransportData].[dbo].[Master_matchings]
        ON [DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].Model = [TransportData].[dbo].[Master_matchings].Model
         where [DataforAnalysis].[dbo].[Dynamic_Parallelism_Tester].[Date] BETWEEN  @Start AND  @End
        and [TransportData].[dbo].[Master_matchings].[Parameter] = @Parameter
        and [TransportData].[dbo].[Master_matchings].[createdAt] = (select max([TransportData].[dbo].[Master_matchings].[createdAt]) from [TransportData].[dbo].[Master_matchings])
        and countBarcode >100
        and Operator = 'Operator'
        ),
     XO (x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13) as (
    select 
        x1 as [Date],
        ISNULL(cast(convert(float,count(case when x4 >= x6 and x4 <= x8 then 1 else null end))/
        convert(float,count(case when x4 >= x6 and x4 <= x8 then 1 else null end)
        + count(case when x4 < x6 or x4 > x8 then 1 else null end)) * 100 AS DECIMAL(10, 2)), 0) as [%Yield], -- Replace NULL with 0
        ISNULL(cast(convert(float,sum(x2))/count(x2) as DECIMAL(10, 2)), 0) as [Cycle_time (sec)], -- Replace NULL with 0
        ISNULL(cast(convert(float,sum(x3))/60 as decimal(10,0)), 0) as [Down time (min)], -- Replace NULL with 0
        ISNULL(cast(AVG(x4) as decimal(10,3)), 0) as [AVG], -- Replace NULL with 0
        ISNULL(cast(stdev(x4) as decimal(10,4)), 0) as [STD], -- Replace NULL with 0
        case when (cast(convert(float,((x8-AVG(x4))/(3*STDEV(x4)))) as decimal(10,2)) < cast(convert(float,((AVG(x4)-x6)/(3*STDEV(x4)))) as decimal(10,2))) or
        ((cast(convert(float,((x8-AVG(x4))/(3*STDEV(x4)))) as decimal(10,2)) > cast(convert(float,((AVG(x4)-x6)/(3*STDEV(x4)))) as decimal(10,2))) and x6 = 0)
        then ISNULL(cast(convert(float,((x8-AVG(x4))/(3*STDEV(x4)))) as decimal(10,2)), 0) when cast(convert(float,((x8-AVG(x4))/(3*STDEV(x4)))) as decimal(10,2))
        > cast(convert(float,((AVG(x4)-x6)/(3*STDEV(x4)))) as decimal(10,2))
        then ISNULL(cast(convert(float,((AVG(x4)-x6)/(3*STDEV(x4)))) as decimal(10,2)), 0) when cast(convert(float,((x8-AVG(x4))/(3*STDEV(x4)))) as decimal(10,2))
        = cast(convert(float,((AVG(x4)-x6)/(3*STDEV(x4)))) as decimal(10,2))
        then ISNULL(cast(convert(float,((x8-AVG(x4))/(3*STDEV(x4)))) as decimal(10,2)), 0) end as [CPK],
        x5 as [Model],
        x6 as [LSL],
        x7 as [CL],
        x8 as [USL],
        x9 as [Machine],
        x11 as Line
    from XT
    group by x1,x5,x6,x7,x8,x9,x11
    having STDEV(x4) != 0 and STDEV(x4) is not null
)
      select 
      XO.x1 as [Date]
	  ,XO.x8 as [Model]
      ,XO.x13 as Line
      ,XO.x12 as [Machine]
      ,XO.x2 as [%Yield]
      ,XO.x3 as [Cycle_time (sec)]
      ,XO.x4 as [Down time (min)]
      ,XO.x5 as [AVG]
      ,XO.x6 as [STD]
      ,XO.x7 as [CPK]
    
      ,x11 as [USL]
      ,x10 as [CL]
      ,x9 as [LSL]
	  ,@Parameter as Parameter
      from XO
        """
dataSTD = pd.read_sql(query, cnxn)
print(dataSTD.head(100000))

C:\Users\IT\AppData\Local\Temp\ipykernel_17856\782290832.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  max_date_df = pd.read_sql(max_date_query, cnxn)
C:\Users\IT\AppData\Local\Temp\ipykernel_17856\782290832.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dataSTD = pd.read_sql(query, cnxn)

Maximum Date + 1 day: 2023-08-29
          Date   Model  Line  Machine  %Yield  Cycle_time (sec)  \
0   2023-08-09  V15C4D  3-22  Average  100.00              0.97
1   2023-08-11  M11P5D  2-14  Average   99.60              0.57
2   2023-08-17  LONGSP   3-6  Average   98.09              0.49
3   2023-08-25  V11 4D  3-22  Average   99.17              1.00
4   2023-08-25  V15C1D   2-9  Average  100.00              3.00
..         ...     ...   ...      ...     ...               ...
78  2023-08-25  EVANBP  2-10  Average  100.00              1.77
79  2023-08-25  ROSE1L   1-9  Average  100.00              1.08
80  2023-08-25  ROSE2D   1-8  Average  100.00              1.36
81  2023-08-25  V15C2D   1-6  Average  100.00              1.00
82  2023-08-27  CIMBP4  3-24  Average  100.00              0.00

    Down time (min)    AVG     STD   CPK     USL      CL     LSL  Parameter
0               0.0  1.762  0.0070  1.76  1.8009  1.7628  1.7247  Set_Dim_C
1               0.0 -0.212  0.0081  0.96 -0.1890 -0.2140 -0.2390  Set_Dim_C
2               0.0  0.512  0.0139  0.83  0.5537  0.5156  0.4775  Set_Dim_C
3               0.0  1.758  0.0098  1.14  1.8009  1.7628  1.7247  Set_Dim_C
4            1279.0  4.455  0.0063  1.65  4.4860  4.4480  4.4100  Set_Dim_C
..              ...    ...     ...   ...     ...     ...     ...        ...
78              0.0  0.837  0.0094  1.11  0.8687  0.8306  0.7925  Set_Dim_C
79              0.0  2.322  0.0084  1.54  2.3630  2.3230  2.2830  Set_Dim_C
80              0.0  1.348  0.0083  1.35  1.3820  1.3420  1.3020  Set_Dim_C
81              0.0  3.184  0.0071  1.61  3.2181  3.1800  3.1419  Set_Dim_C
82            252.0  1.651  0.0042  1.85  1.6741  1.6360  1.5979  Set_Dim_C

[83 rows x 14 columns]

In [5]:
# Your existing code here...

# Execute the SQL query and store the results in the 'datasets' DataFrame
datasets = pd.read_sql(query, cnxn)

# Your existing code here...

# Establish a new connection for inserting the data into the target table
insert_server = '192.168.101.219'
insert_database = 'DataforAnalysis'
insert_username = 'DATALYZER'
insert_password = 'NMB54321'
insert_cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+insert_server+';DATABASE='+insert_database+';UID='+insert_username+';PWD='+ insert_password)
insert_cursor = insert_cnxn.cursor()

# Iterate through the rows of the 'datasets' DataFrame and insert data into the target table
for index, row in dataSTD.iterrows():
    insert_query = f"""
        insert into [DataforAnalysis].[dbo].[SPC_STD_MC] ([Date], [Model], [Line], [Machine], [%Yield], [Cycle_time (sec)],
        [Down time (min)], [AVG], [STD], [CPK],[LSL],[CL],[USL],[Parameter])
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ? , ? )
    """
    values = (row['Date'], row['Model'], row['Line'], row['Machine'], row['%Yield'], row['Cycle_time (sec)'],
              row['Down time (min)'], row['AVG'], row['STD'], row['CPK'],row['LSL'],row['CL'],row['USL'], row['Parameter'])
    insert_cursor.execute(insert_query, values)

# Commit the changes and close the connection
insert_cursor.commit()
insert_cursor.close()
insert_cnxn.close()

C:\Users\IT\AppData\Local\Temp\ipykernel_17856\4262995815.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  datasets = pd.read_sql(query, cnxn)